[2016-08-22 20:32] markolson opened #24 "Add json-schema repo as a subtree or submodule"

[2016-08-22 20:33] markolson commented on #24
Maybe under app/schemas? Up for discussion.

[2016-08-22 20:34] markolson opened #25 "Create Education Form Submission Model & Controller"

[2016-08-22 20:34] markolson opened #26 "Validate Education Form Submissions against JSON Schema"

[2016-08-22 20:35] markolson opened #27 "Create Spool File generation task"

[2016-08-22 20:37] markolson opened #28 "Create configuration for Education Regions"
Spool files are broken up to group submissions to different regions based on the school the person is applying for. I think we're submitting 4 spool files a day, but need to verify.

[2016-08-22 20:37] markolson opened #29 "Gather SFTP credentials for spool file submission"
Work with devops to place them into a secure credential store.

[2016-08-22 20:38] markolson opened #30 "Add retry logic to the spool file submission"
In case the SFTP is inaccessible, we need to retire at a later time.

TODO: figure out if we have to process at the same time each day, or if we can submit whenever.

[2016-08-22 22:57] akainic commented on #24
Repo created here: https://github.com/department-of-veterans-affairs/vets-json-schema

[2016-08-23 20:11] lihanli commented on #25
redis_store currently deletes records if it finds them and sees they arent valid, do we want this for our records?

https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/models/redis_store.rb#L17-L27

[2016-08-23 22:51] lihanli commented on #25
another problem is we will want to look up all claims submitted within a time range and that's tricky with redis, i think we should use postgres instead

[2016-08-23 22:54] markolson commented on #25
We want this to be a database-backed model, yes.

[2016-08-23 23:03] lihanli opened #33 "add activerecord back and choose a database"

[2016-08-24 11:52] #24 closed

[2016-08-24 17:53] #33 closed

[2016-08-24 19:11] awong-dev opened #38 "Authn, Authz, and API."
@robbiethegeek asked me to write up some thoughts on the API architecture and how it relates to AuthN and AuthZ. So here goes...

For AuthN, there are 2 pieces:
1. ID.me session
2. www.vets.gov session

For AuthZ, there are 2 pieces:
1. Delegated Authorization server/generator
2. api.vets.gov authorization consumer/validator

For the API business logic, there are at least 2 pieces:
1. Database acc

[2016-08-24 21:25] shauni opened #39 "Invalid session token should return 401 not 500"

[2016-08-25 03:05] greggersh commented on #38
ID.me is a separate service from vets.gov. Their sessions are not tied together; termination of one should not impact the other in any way. There is a provision in SAML to require ID.me to prompt the user for a password no matter the state of the ID.me session. I don't think we need to put that in place unless it's a FICAM requirement for the LOA level we're using (it might be for LOA 2-3).

[2016-08-25 16:08] lihanli opened #42 "encrypt sensitive information in education_benefits_claims"

[2016-08-25 18:12] awong-dev commented on #38
@greggersh What you describe about the 2 separate services having separate sessions that don't interact is key and I think important to continually emphasize since it's easy to lose track of under the umbrella action of "vets.gov login".

From my side, I'm less concerned about FICAM requirements than I am about accidentally session reuse on a shared machine.

Taking all the tech away, here is the

[2016-08-26 01:53] shauni opened #45 "more streamlined CORS solution"
right now our config to allow CORS is split between nginx and Rails. I think it will be easier to manage if we just use https://github.com/cyu/rack-cors

[2016-08-29 22:15] lihanli commented on #28
http://www.vba.va.gov/pubs/forms/VBA-22-1990-ARE.pdf page 3 lists the different regions

[2016-09-01 14:23] #25 closed

[2016-09-01 17:08] lihanli opened #60 "add middleware to convert snakecase/camelcase"

[2016-09-02 21:17] #60 closed

[2016-09-08 20:57] #26 closed

[2016-09-09 14:23] mphprogrammer opened #72 "Olive Branch is preventing rails console from starting."
Traced error to this line in application.rb:
`config.middleware.use "OliveBranch::Middleware"`

The error:
[code]

[2016-09-09 15:48] jkassemi opened #74 "Timeouts for external service integrations"
The DevOps team has configured monitoring for high average request latency from this application, and will work to integrate more metrics for individual services in the future. We've noticed average latency over 5 minute intervals is around ~1.5 seconds with considerable variability (up to ~40s and often between 10 and 30s).

To prevent false alarms and to better understand the application health

[2016-09-09 15:51] jkassemi opened #75 "Circuit breakers for external service integrations"
In addition to timeouts from #74 , we should evaluate implementing [circuit breakers](https://github.com/orgsync/stoplight) for each of the application's external service integrations.

Our application has the potential to send more traffic to these systems than they may expect, and if they're down or under high load, the ability to back off and allow them to recover could mean improved overall up

[2016-09-09 15:57] jkassemi opened #76 "Documentation for external service integrations"
The DevOps team needs brief documentation around services the application integrates with so we can better configure our monitoring. This should include at least a brief description of the service, what components of the vets-api depend on that service, expected potential failures, what behaviors to expect from our app during failures, and if available, how to test the health of the service indepe

[2016-09-09 16:06] lihanli commented on #72
which branch is this on? i can't reproduce on master

[2016-09-09 16:58] saneshark commented on #72
@mphprogrammer do you mind adding steps to reproduce? Where specifically did you add a binding.pry that caused the issue?

[2016-09-09 18:26] #42 closed

[2016-09-12 19:12] ayaleloehr opened #86 "Move Rx API documents to vets-api"

[2016-09-12 19:13] ayaleloehr opened #87 "Create API document for SM"
Similar to either

https://github.com/department-of-veterans-affairs/vets-api/blob/6edef6d030a4e4aba9289d9d4e52411f28552412/docs/api/edu-benefits.md

or

https://github.com/department-of-veterans-affairs/prescriptions-api/blob/master/api-doc.md

[2016-09-13 16:05] lihanli opened #89 "edu benefits api doc"

[2016-09-13 16:05] lihanli opened #90 "fix strong parameters for updated api"

[2016-09-13 19:46] #90 closed

[2016-09-13 19:49] lihanli opened #91 "dont include processed at in edu benefits claim response"
also add spec for edu benefits claim serializer

[2016-09-14 14:08] ayaleloehr commented on #87
@mphprogrammer has an excel document he will share with the team today.

[2016-09-14 14:15] ayaleloehr opened #93 "Sorting for SM"
I believe this will be needed just for /folders/:id/messages on sentDate, subject, and from

[2016-09-14 14:17] ayaleloehr opened #94 "Filtering for SM"
Marc and I drew this up on the board yesterday and he will provide more details on how filtering will work in the API documentation he is writing in #87

[2016-09-14 14:18] ayaleloehr opened #95 "Implement Drafts for SM"
Creating and updating drafts, sending a draft, and replying with a draft.

[2016-09-14 14:21] ayaleloehr opened #96 "Attachments for SM"
Need to implement all routes and functionality related to attachments

[2016-09-14 14:22] ayaleloehr opened #97 "Move healthcare_messaging gem logic to lib"
Similar to what @saneshark did here: https://github.com/department-of-veterans-affairs/vets-api/pull/88

[2016-09-14 19:03] markolson opened #99 "Generate per-region spool files"

[2016-09-14 19:29] lihanli opened #100 "Choose a Background / Scheduled job provider"
(assuming we use ActiveJob in rails, backed by something else)
😄  = Resque
🎉  = Sidekiq
❤️  = DelayedJob
👎  = Other / Not ActiveJob

[2016-09-14 19:32] robbiethegeek commented on #100
Can we generalize this, the implementation isn't defined yet

[2016-09-14 19:35] markolson commented on #100
[ActiveJob](http://edgeguides.rubyonrails.org/active_job_basics.html) is a async runner framework included in Rails 4.2+ that generalizes the patterns usually found in things like Sidekiq or Resque. It seems like it's a safe bet to add and use as a front-end, and then we could drop into "raw" Sidekiq or Resque if we ever need the advanced features either of them offer.

[2016-09-14 19:45] markolson commented on #100
[Sidekiq](http://sidekiq.org) is an open source async job system written in Ruby that has paid pro and enterprise options that offers support and other advanced options and tooling. I've personally used it and haven't had any issues with it. It, iirc, had some nice hooks for monitoring and alerting tools as well as solid retry mechanisms.

[Resque](https://github.com/resque/resque) is an open sour

[2016-09-14 19:46] lihanli commented on #100
for scheduling we can use cron or resque/sidekiq scheduler. i vote cron because it's the easiest option and i don't think we need any advanced features

[2016-09-14 19:48] austin-martinez commented on #100
The main difference between Sidekiq and Resque is the use of threads vs. processes
https://github.com/mperham/sidekiq/wiki/FAQ

My preference would be for Sidekiq and whenever to create cron schedules
https://github.com/javan/whenever

[2016-09-14 20:10] carlmjohnson commented on #100
I agree that for cron-like tasks, it would be better to do them in Ruby if possible. Cron is great and universally installed, but using it would mean that app developers would need to ask dev-ops developers any time a task schedule needs to be adjusted.

[2016-09-14 20:15] lihanli commented on #100
we can add a deploy hook to have the whenever gem update the crontab after every deploy

[2016-09-14 21:32] kreek commented on #100
I'll add my vote for Sidekiq because threads. I've used both Sidekiq and Resque, and if you end up with jobs that use multiple job instances (like batch processing) you are in for a world of race condition induced pain with processes. The one nice thing about Resque is it's scheduler extension, but I'm sure there's comparable extensions for Sidekiq. An extension is preferable IMO because schedules

[2016-09-14 22:12] saneshark commented on #100
@kreek fwiw sidekiq workers can be delayed in a similar manner as you describe, the delay and number of times to retry can be specified at the worker level or when the worker is invoked.

[2016-09-15 13:45] #87 closed

[2016-09-15 14:49] U-DON opened #103 "Secure Messaging API Returns Internal Server Error on Staging"
Opening an issue to track when the secure messaging API returns internal server errors (code 500) on staging.

Link for convenience: https://staging.vets.gov/api/v0/messaging/health/folders.

Occurred again at the time of submitting this issue.

[2016-09-15 15:02] ayaleloehr commented on #103
Thanks for opening this @U-DON .  Right now from MHV when trying to get a session I get:

[code]

Have sent an email and will follow up as soon as I hear back. I guess the Heroku API is the one to use in the mean time. Sorry about this; so frustrating!

[2016-09-15 15:29] ayaleloehr opened #104 "Add documentation on how filtering and sorting will work"
Then update this issue: https://github.com/department-of-veterans-affairs/messaging-fe/issues/40

[2016-09-15 15:57] mphprogrammer commented on #103
This is working for me:

{"data":[{"id":"0","type":"va_healthcare_messaging_folders","attributes":{"folder_id":0,"name":"Inbox","count":2,"unread_count":0,"system_folder":true},"links":{"self":"https://staging.vets.gov/api/v0/messaging/health/folders/0"}},{"id":"-2","type":"va_healthcare_messaging_folders","attributes":{"folder_id":-2,"name":"Drafts","count":31,"unread_count":28,"system_folder":tr

[2016-09-15 16:20] robbiethegeek commented on #100
Going to close and @markolson is going to write up a design document for this feature.

[2016-09-15 16:20] #100 closed

[2016-09-15 16:25] mphprogrammer commented on #97
[] Move Categories model/factory/spec
[] Move TriageTeam model/factory/spec
[] Move Folders model/factory/spec
[] Move Message model/factory/spec

[2016-09-15 16:38] lihanli opened #105 "add activejob and sidekiq"

[2016-09-15 17:00] lihanli opened #106 "need confirmation number to give to frontend"
i'm thinking about adding a uuid column to education_benefits_claims and using that for the confirmation number, thoughts @markolson?

[2016-09-15 17:07] lihanli opened #108 "need address of where the form will be sent"
https://app.moqups.com/greg@adhocteam.us/l32hJ36b/view/page/ac1f8090a
frontend wants to show the address of where the claim will be sent. we need a method anyways to decide spool file region so we can use that to give them the address too.

[2016-09-15 17:26] markolson commented on #106
Let's just use the EducationBenefitsClaim id.

[2016-09-15 17:27] markolson commented on #106
I'm going to assign this to myself as I'm working in that area right now as well.

[2016-09-16 02:34] U-DON commented on #103
Occasionally, I'll get an internal server error on either a GET for folder messages or thread messages, while the other one works just fine, even though both requests are made at the time the page is loading. Don't know what to make of it.

[2016-09-16 18:07] lihanli opened #116 "make CreateDailySpoolFiles a recurring job"

[2016-09-16 18:16] #105 closed

[2016-09-16 18:16] lihanli opened #117 "add sidekiq web interface"

[2016-09-16 22:09] #117 closed

[2016-09-19 16:16] saneshark opened #123 "Ensure No External Requests in Initializers"
Normally webmock would catch any external requests, but if they occur in an initializer prior to `WebMock.disable_net_connect!` they will actually be made.

https://github.com/department-of-veterans-affairs/vets-api/blob/master/config/initializers/saml_settings.rb is one such example.

If the IDP is down, this will result in a build breaking or test environments failing, we need to have a more rob

[2016-09-19 18:47] #91 closed

[2016-09-19 20:35] ayaleloehr opened #126 "Nested facility service data"
@patrickvinograd VHA data (which is what we have available via the VA API right now) has services available at facilities. these services look flat in the data returned from the VA's API, however they are actually nested in that some of the services are major categories (service level 1 = SL1) and some are minor categories (Service level 2 = SL2) within major categories. An example of this is that

[2016-09-19 20:36] ayaleloehr commented on #126
You're probably also saying, well which services are nested under what?!  Here is a list:

[code]

[2016-09-19 20:53] #108 closed

[2016-09-19 21:26] #89 closed

[2016-09-20 01:19] bshyong commented on #126
re: 1) In the front-end, it would be nice to have the keys nested and the nesting logic built into the API. It's probably better to have the service hierarchy in the backend instead of frontend.

re: 2), only including services that are available saves us from having to iterate over the entire response. As an added bonus, we could use the value to store a formatted display name, ie

[code]

[2016-09-20 01:36] ayaleloehr commented on #103
Going to keep this open but move to the backlog. Anyone please post here when the API starts returning 500s again so we can keep track of these!

[2016-09-20 02:43] ayaleloehr opened #127 "Allow Prescriptions to be sorted by dispensed_date"
Copied from https://github.com/department-of-veterans-affairs/prescriptions-api/issues/67

Lower priority this week than SM work.

[2016-09-20 04:00] patrickvinograd commented on #126
Yes, absolutely on both returning the hierarchy and only including the present services. My suggestion is something like this:
[code]
I.e. SL1 services are indicated by presence as keys in the overall "Services" dict. SL2 services are indicated by presence in the list that you get back from their parent SL1 key. SL1 services that don't have any sub-services have an empty list, but are still availa

[2016-09-20 13:27] #28 closed

[2016-09-20 13:27] #27 closed

[2016-09-20 14:38] ayaleloehr commented on #96
both sending a message with an attachment and retrieving attachments for messages that already have them.

[2016-09-20 14:39] ayaleloehr opened #128 "replying to a message"
Both with and without attachments

[2016-09-20 14:40] ayaleloehr opened #129 "deleting messages"
Might get slightly complex with deleting drafts potentially?

[2016-09-20 14:41] ayaleloehr opened #130 "Folder creation"

[2016-09-20 14:41] ayaleloehr opened #131 "Moving a message between folders"

[2016-09-20 14:42] ayaleloehr opened #132 "Deleting a folder"
Does the folder have to be empty? If yes, what is the error returned if you try to delete a folder and it isn't empty?

[2016-09-20 14:43] ayaleloehr opened #133 "Pagination"
Making everything that is a collection into one; will make sorting/filtering easier as well.

[2016-09-20 20:29] patrickvinograd opened #134 "Define facility locator VA health facility format"
Using this issue to come to agreement about facility locator data format. Limiting discussion for now to VA health facilities. Will file a separate issue for Choice Act provider data, and likely a separate issue for VA benefits and cemetery facilities.

See baseline data available from GIS data source in https://github.com/department-of-veterans-affairs/kudos-team/blob/master/FacilityLocator/Facil

[2016-09-20 20:40] patrickvinograd commented on #134
We can of course iterate as needed but let me know if this looks reasonable as a starting point.

[2016-09-20 20:50] saneshark commented on #72
@mphprogrammer I'm closing this issue because you mentioned today that it is working for you.

[2016-09-20 20:50] #72 closed

[2016-09-20 21:08] saneshark commented on #97
@mphprogrammer I think it's safe to maybe close this one out, right?

[2016-09-20 21:08] #97 closed

[2016-09-20 21:21] saneshark commented on #134
Do we want to follow the same format of JSON API spec used elsewhere in vets-api?

http://jsonapi.org/

Note, vets-api will give the capability for F/E to automatically use whatever they want for JSON keys, whether that is camel case, snake case, etc.

[2016-09-20 23:26] patrickvinograd commented on #134
I'm not opposed to using JSON API...wasn't aware that had been adopted across the board. For this API it seems like we just add a `type`, and push all the fields under `attributes`. And of course adopt the `data`/`errors` convention for the overall result.

[2016-09-20 23:33] patrickvinograd commented on #134
So a collection result would look like the following, a single resource result similar without the array:
[code]

[2016-09-21 01:21] patrickvinograd commented on #126
Representing the L1 services as keys in a dict makes things awkward because the keys get treated as keys from the JSON API perspective and get munged by Olive Branch, but the values do not. So now proposing to make the services a big nested list so it just gets treated as data:
[code]
Overall list of services is a list of tuples, first element being an SL1 service, second element being a list of S

[2016-09-21 01:24] patrickvinograd commented on #134
I don't like how Olive Branch permutes the keys but not the values of the services section, so changing this to:
[code]

[2016-09-21 01:41] saneshark commented on #134
This looks good to me. The only thing that looks really weird is how "services" object is being built. It appears as though services are almost their own object? One of the other things we're doing is including links to additional, but relevant resources. If you use active model serializers, it should help take care of all of that for you and it kinda of adds a nice little decorator pattern should

[2016-09-21 01:43] saneshark commented on #134
Olive branch is designed to only mutate the keys, which helps for object deserialization. I think the idea is to have the values still be whatever the backend expects to validate the model (particularly if there is a POST or PUT), though I presume in your case these are mostly all just GET requests so YMMV

[2016-09-21 03:25] ayaleloehr commented on #134
@patrickvinograd I'm pretty sure we are going to want "Station Number" returned, as that should be the unique identifier for each facility. In the prototype we used that for the URL of the detail page, which I don't know if we still want to do or not, but could be useful.

@saneshark definitely knows JSON API better than me, especially around the active model serializer magic, so I think if where

[2016-09-21 13:23] mphprogrammer commented on #95
- [ ] add route: POST /draft # creates a draft
- [ ] add route: GET /draft/:id  # shows a draft
- [ ] add route" PUT /draft/:id # update a draft
- [ ] add route PATCH /draft/:id?reply_to=msg_id # sends draft as mail or reply of msg_id
- [ ] add route DELETE /draft/:id # deletes a draft

[2016-09-21 14:39] carlmjohnson commented on #126
What about something like this:

[code]

[2016-09-21 16:19] patrickvinograd commented on #126
@carlmjohnson Yeah, I like that better, having the L1/L2 keys gives some indication of the semantics.

[2016-09-21 16:23] patrickvinograd commented on #134
@saneshark I've got it integrated with an ActiveModel Serializer in my branch, cribbing variously from the prescriptions and claims stuff in there already. I don't think it's worthwhile to pull the services out into a linked object - the list of services is definitely an attribute of the facility, it's just that there is a hierarchical structure to the services (specialties and sub-specialties).

[2016-09-21 16:26] patrickvinograd commented on #134
@ayaleloehr I had confirmed that StationID was also unique, but I have no idea whether that or StationNumber is semantically more meaningful as far as the URL path identifier. I'll include both in the object and maybe I will ask Xiaoyi for details.

[2016-09-21 17:02] lihanli opened #138 "write spool file to disk when in development"

[2016-09-21 17:29] bshyong commented on #126
^ that structure LGTM

[2016-09-21 17:43] patrickvinograd commented on #126
Works well with olive branch so I'm going to say that's decided. See #134 for full record format description.

[2016-09-21 17:43] #126 closed

[2016-09-21 18:09] patrickvinograd opened #140 "Define facility locator choice act data format"
See https://github.com/department-of-veterans-affairs/kudos-team/blob/master/FacilityLocator/Facility%20Data%20Samples.md for a description of the underlying data.
See #134 for related discussion of VA health facility data.

Like #134 we need to define the output of REST queries for choice act (non-VA provider) data.

Whereas the VA facility GIS data returns facilities (i.e. hospitals/clinic) and

[2016-09-21 21:58] ayaleloehr commented on #140
Thanks for bringing this up!; very interesting that providers can have both multiple specialities at the same location and also can have multiple locations.

First off, a couple thoughts on if we don't do any aggregation on the backend...the way I have usually seen multiple points with at the same location implemented on the frontend is with "exploding" or "spidering" points, which look like a nor

[2016-09-21 22:11] ayaleloehr commented on #134
Just cross referenced an old document of (not totally updated but pretty good) facility data that is [here](https://github.com/department-of-veterans-affairs/kudos-team/blob/master/FacilityLocator/Old%20-%20Pre%20May%202016%20Documents/Data/Sample%20Data%20from%20Tran%20122015/VAFacilitiesFY15Q3_Final_v2.xls) and it looks like StationNumber is the things we will want.

In that document, the Statio

[2016-09-21 22:20] patrickvinograd commented on #134
I don't even see a StationID in that spreadsheet - just an OBJECTID which is known to not be a good stable identifier (basically a rownum in the GIS database). But, it confirms that StationNumber has a semantic meaning within VA, and is also unique across facility types, so I will go with that as the primary identifier.

[2016-09-21 22:45] patrickvinograd commented on #140
Yes, not implementing yet, just getting the ball rolling.

I think at a minimum, we should aggregate all the specialties for one provider (for both map marker and detail view), since we can easily represent a list type in our JSON response, we don't want to inherit the unfortunate GIS db representation into our API.

Then we can decide (later) whether providers at the same location get grouped som

[2016-09-22 01:29] #133 closed

[2016-09-22 18:17] kreek opened #147 "Sort MVI correlation ids from response"
Currently the correlation ids in an MVI response arrive in an array, sort them into a hash so they can be later looked up by correlation id type.

[2016-09-22 18:19] kreek opened #148 "Cache MVI response"
Cache MVI responses in redis with a configurable TTL.

[2016-09-23 03:20] #130 closed

[2016-09-23 06:20] #132 closed

[2016-09-23 13:56] ayaleloehr commented on #103
@U-DON how has the SM API been this week?  still flakey? more stable?

[2016-09-23 14:38] U-DON commented on #103
@ayaleloehr Looks like it didn't go down for any extended period of time where we would get 500s, but it has been giving a lot of intermittent 400s lately. I often have to do multiple refreshes to get all the requests on a single page load to return correctly.

[code]

[2016-09-23 14:44] ayaleloehr commented on #103
Very interesting.  API documentation says 900 is "Mailbox Service Error" and 901 is the "Authentication Service Error", but clearly from the above 900 is giving "Authentication Service Error". Strange.

Will follow up with Ken both about why this is mislabeled, which error it actually is, and why it is happening. Thanks @U-DON

[2016-09-23 17:46] #147 closed

[2016-09-23 20:38] saneshark commented on #96
Going to take a stab at this on the train tomorrow. Swapping assignee. Giving @mphprogrammer my ticket for #129

[2016-09-23 20:38] saneshark commented on #129
Swapped assignee with Marc.

[2016-09-26 13:12] ayaleloehr commented on #103
@U-DON: the MHV API team just wrote back saying they think this was an issue with one of their instances behind the load balancer not functioning properly. They restarted the machines, which they hope fixes it.  Can you please let me know if you get these intermittent errors again?  And if so, having a timestamp of when it happened would be great so MHV can check their logs.  Thanks!

[2016-09-26 16:03] #138 closed

[2016-09-26 19:06] akainic commented on #29
#666 in devops

[2016-09-26 19:06] #29 closed

[2016-09-26 19:07] akainic commented on #106
We're going to use the id from our database table.

[2016-09-26 19:10] akainic opened #160 "Document instructions on how to create SPL files locally"
So we can use it for testing

[2016-09-26 22:47] U-DON opened #163 "[Rx] PATCH request to refill prescription returns 500."
While refactoring Rx to make the change to using camelCase when working with the API and doing some quick testing to see if anything broke, I tested refill requests. I don't remember if they're expected to be broken at the moment, but I got an internal server error when I tried one. Info listed below, including time of response in the header.

When I load the page later, the prescriptions I reques

[2016-09-27 00:16] #129 closed

[2016-09-27 00:16] #131 closed

[2016-09-27 02:37] webinista opened #168 "[Secure Messaging] POST request to create a new folder causes a 500 error"
Made a `POST` request to `/api/v0/messaging/health/folders` with the following request headers and payload (lemme know if you'd rather have this as text):

<img width="541" alt="screen shot 2016-09-26 at 7 19 53 pm" src="https://cloud.githubusercontent.com/assets/354277/18858071/440d69a6-841e-11e6-8c65-d7418ffc87a3.png">

Received the following response:

`{"errors":[{"title":"Internal Server Erro

[2016-09-27 03:28] ayaleloehr commented on #168
It looks like the payload is `{folder: "sample folder"}` but should be
[code]
Does that fix it @webinista ?

[2016-09-27 03:37] ayaleloehr commented on #163
@U-DON on dev.vets.gov (or connecting to the dev API), the PATCH will not work because that is using the Heroku mock API rather than a real MHV API.  If you test this locally using the staging API instead, it should work. Using the staging API, however, I get a different error, which in this case I believe is expected:

[code]
So that prescription just isn't refillable on the staging API. Can you

[2016-09-27 04:09] saneshark commented on #163
I'm just chiming in to agree with @ayaleloehr on his comment. Staging will be more of a 'true' test for something like refill which would affect the state of the resource. Please let us know if you encounter any issues other than "Prescription is not refillable," when using staging.

[2016-09-27 04:13] saneshark commented on #103
@ayaleloehr that 900 is a code we're setting on our server side -- it references "title of operation failed" it has nothing to do with what MHV uses for code, strictly coincidental.

[2016-09-27 14:17] U-DON commented on #163
When I tried these requests, they were done locally using the staging API.

[2016-09-27 14:25] akainic opened #170 "e2e test: required form fields"

[2016-09-27 14:25] akainic opened #171 "e2e test: all form fields"

[2016-09-27 14:25] akainic opened #172 "e2e test: attempt to submit each section without completing any fields"

[2016-09-27 14:42] shauni opened #173 "Parameterize LOA policy for /sessions/new"
The authentication context for the SAML request is currently hardcoded:
https://github.com/department-of-veterans-affairs/vets-api/blob/master/config/initializers/saml_settings.rb#L15

This should be a parameter in the `/sessions/new` endpoint so we can request both.

[2016-09-27 15:09] ayaleloehr commented on #95
Can now create and update drafts.

Marc now working on replying to drafts.  Then message replies.

[2016-09-27 15:25] U-DON commented on #103
Got the error again just now.

## Request Headers
[code]

## Response Headers
[code]

## Response
[code]

[2016-09-27 15:32] U-DON commented on #163
@ayaleloehr I do get that error when I run the request on something that is not refillable, but as I mentioned in the opening post, I get the 500 on something that is refillable. But the status of the prescription successfully (?) changes to pending or in process later.

There are only two active prescriptions left I can request a refill on, so I don't want to try it on those yet, unless there's m

[2016-09-27 15:33] saneshark commented on #103
Anything that is "operation failed" is coming directly from MHV more or less, so this could suggest that the service is temporary down? I know they are doing QA on their end, would be great if we could get on an email list that lets us know when they are doing deployments that could result in downtime on these system.

[2016-09-27 15:39] U-DON commented on #103
It worked for one request but not for another, although both were made on the same page load. And both worked on the previous page load. Unless certain parts of the service can go down independently.

Here's another response from a failed request if it's helpful for them to inspect. This failed for getting threads, while getting all folders worked.

[code]

[code]

[2016-09-27 15:53] saneshark commented on #103
This could be related to NTP as well. Maybe thr time for authrntication is out of sync and it causes intermittant issues? @jkassemi any thoughts?

[2016-09-27 16:02] webinista commented on #168
It does! Thanks. Tired eyes can't read very well.

[2016-09-27 16:02] #168 closed

[2016-09-27 16:14] patrickvinograd opened #174 "Errors getting serialized with status field as integer, not string"
JSON API says that the status field of an error object should be a string:
[code]
When I generate an exception like:
[code]
the output has status as an integer:
[code]

[2016-09-27 16:31] jkassemi commented on #103
Yeah, that's possible, but can't say for sure. Sounds like it's still one instance in their pool causing the trouble.

Can you guys run a script that attempts a valid request every 5 seconds or so that records the timestamp and response? A history of failures would help them debug.

[2016-09-27 16:33] jkassemi commented on #103
sending along a parameter with a unique string value with each request from that script would help with grepping logs, too.

[2016-09-27 16:57] #95 closed

[2016-09-27 19:34] ayaleloehr commented on #163
I can email MHV tonight and get more prescriptions refillable.  We want the ability to make these refillable ourselves (Josh is working on this for end to end testing), but don't have it today unfortunately.

[2016-09-28 14:00] #39 closed

[2016-09-28 18:16] saneshark opened #179 "Pre-Launch Checklist"
The purpose of this issue is to identify candidates for further scrutiny prior to launching to production. Please add additional checklists and open more granular issues as you encounter them.
- [x] Ensure we're using Time.current.utc across the vets-api project
- [ ] Ensure that the Rails App has TimeZone specified independent of the server on which it is running. (Similarly Devops should double

[2016-09-28 18:35] #128 closed

[2016-09-28 18:46] shauni opened #180 "update README and config for new front-end login flow"

[2016-09-29 02:20] saneshark commented on #174
Thanks for identifying this. I think we're using that status in ApplicationController to set the appropriate status as well. I'm assigning this to myself because I'm aware of that constraint, but documenting it here in case someone else ends up taking this issue item.

[2016-09-29 14:20] ayaleloehr commented on #103
@U-DON I didn't follow up with MHV on this yesterday (sorry about that!).  Can you post the timestamps here for a couple times this happens today and I'll follow up with MHV so they can look at their logs for those times?  Thank you!

[2016-09-29 15:27] #45 closed

[2016-09-29 15:49] U-DON commented on #103
Sure. Here's one:

[code]

[2016-09-29 16:06] #116 closed

[2016-09-29 17:18] lihanli opened #185 "support non-american addresses in spool file and add street2 field"

[2016-09-29 19:19] ayaleloehr commented on #103
After multiple email exchanges with MHV I believe we are actually creating a race condition in our API that is causing this.  Let me try to write up what I think is happening.

The inbox page on vets.gov SM needs to make calls on page load to `/folders` to get the folder list and `/folders/:id/messages` to get the messages in the inbox.  Here is what I believe is happening when this fails:

1) `/f

[2016-09-29 19:31] ayaleloehr commented on #103
I'm struggling to replicate this with curl unfortunately, so it's possible my logic there isn't actually correct about the invalid session tokens (especially because those should return a 109, not 900 error).

BUT, I still think this is a race condition we're causing on our side, AND we should be caching session tokens and checking to see if they exist in Redis before calling to get a new one, so

[2016-09-29 21:23] patrickvinograd opened #188 "Address backend errors in facilities locator"
Address generic and application-specific errors coming from backend GIS service(s).
- Connection errors and timeouts.
- Application errors. Looks like maps.va.gov (interim backend) typically returns a 200 status but a response body bearing an error message for e.g. cases where a query cannot be completed:

[code]

[2016-09-29 21:25] patrickvinograd opened #189 "Add pagination to Facilities Locator API"
Currently no limits on facilities locator query - it will return all results in the supplied bounding box. Follow API style guide to add pagination parameters, though consider tuning default number of results for good user experience in the map pane.

This will require frontend effort to allow paging forward/backward through available facilities.

[2016-09-29 22:23] shauni opened #191 "Make SAML errors conform to JSON-API spec"
https://github.com/department-of-veterans-affairs/vets-api/pull/184#discussion_r81215842

[2016-09-30 01:00] saneshark commented on #104
@mphprogrammer you can reference this based on what we worked on today.

[code]

[2016-09-30 04:29] ayaleloehr commented on #103
Found error in our logs:

[code]

[2016-09-30 15:21] omgitsbillryan commented on #173
@shauni I dont think we need this anymore.  Possibly something that is local dev environment only (such as a commented out route) but nothing that would go in staging or prod.  Can I close?

[2016-09-30 16:41] saneshark commented on #103
I have a theory as to what might have caused this. Previously for messages belonging a folder we were making two requests in rapid succession. One to fetch a folder's attributes to get the total message count, and second to iterate through the pages if count is > 250 (the maximum returned in a single request).

This PR addresses this with a single request, instead looping through if the call for t

[2016-09-30 16:45] U-DON opened #194 "Uses cases for sending/saving/deleting messages, replies, and drafts"
I have attempted to enumerate all the cases we need to cover when it comes to working with messages, replies, and drafts. I also have the requests and payloads in certain cases as I think they're supposed to be used. Feel free to correct me if their usages are incorrect.

My main points of confusion are mostly with replies.
- For step [2.2], I'm not sure if it's the same as [1.2], and if so, how d

[2016-09-30 17:00] saneshark commented on #189
If you're able to Marshall a complete list of facilities into Common::Collection a lot of the heavy lifting for pagination, filtering, and sorting will be done for you. Examples include `PrescriptionsController` and `MessagesController` `index` actions.

[2016-09-30 17:05] saneshark commented on #94
`?filter[some_attribute][some_operation]=some_value&filter[same_attribute][some_other_operation]=some_other_value`

Where some_operation is one of

- eq
- not_eq
- gteq
- lteq

[2016-09-30 17:10] saneshark commented on #94
We can add additional operations for regex matches, but those will need special sanitization so are currently not supported.

[2016-09-30 17:13] saneshark commented on #96
Got caught up on other stuff this week, but this is my current top priority unless something else comes up that needs precedence over this.

[2016-09-30 17:25] #106 closed

[2016-09-30 18:09] ayaleloehr commented on #103
Kam's PR referenced above was just deployed. Eugene, if (when) you get this error again, please post the timestamp here so I can check logs again

[2016-09-30 20:11] robbiethegeek commented on #173
This is blocked by the conversation and decisions being made by @staceylanger

[2016-09-30 20:47] staceylanger commented on #173
What decision needs to be made, specifically?

[2016-09-30 21:08] #180 closed

[2016-09-30 21:19] shauni commented on #173
@staceylanger - whether we are defaulting to LOA3 for everybody or whether we are going to allow different LOAs.

@omgitsbillryan - at the very least we need to update the hardcoded default to be `LOA3` and not `authentication`. Ideally we would also include a dev-only URL parameter that would force the `authentication` policy, so developers can test without having to restart the server.

[2016-10-01 01:26] staceylanger commented on #173
Thanks! I will say that we will allow more than one LOA level. Reasons:

For things like "saving an in progress form" we don't need the user to go through the trouble of LOA3 proofing.

We pay for every LOA2 and LOA3 account, so we want to ensure they are only used when needed.

[2016-10-03 13:02] robbiethegeek commented on #123
@ayaleloehr I assigned this to @saneshark can you help prioritize this against other work.  Not super high priority but will effect all the devs if ID.me is down.

[2016-10-03 16:56] omgitsbillryan commented on #173
The endpoint on the ID.me side is the same irrespective of the LOA desired.

```https://api.idmelabs.com/saml/SingleSignOnService?SAMLRequest=fVJ2E....```

Only thing that changes is the `authn_context` value in the encoded+encrypted `SAMLRequest` url query parameter.

[2016-10-03 18:31] #160 closed

[2016-10-03 18:41] akainic opened #202 "Create show action for viewing completed applications"

[2016-10-03 18:42] akainic opened #203 "Admin panel: what's needed?"

[2016-10-03 23:20] #185 closed

[2016-10-04 03:47] kreek opened #207 "Add pessimistic gem versioning to Gemfile"
Many of the gem definitions don't have constraints (version numbers). Add pessimistic constraints (e.g. `'my_gem', '~> 1.1'`) so running bundle update (or bundle on a fresh checkout) doesn't move any gems to a version that our code doesn't support.

[2016-10-04 03:54] saneshark commented on #207
@kreek I think you should be able to run `bundle` or `bundle install` without ever doing `bundle update` If you ever need to bump versions of a specific library then `bundle update <some_gem>`

[2016-10-04 04:15] kreek commented on #207
ok, I still think it's good practice to include the version you want to be at, and pessimistic allows you to get micro version bug fixes

[2016-10-04 13:20] robbiethegeek commented on #207
I think that being as defensive as possible here is a good thing.  In node there is the Node Security Project that will release a new advisory and we can add it to the linting process.  Is there something similair in the Ruby ecosystem or do we need to have a weekly task to check out gems?

[2016-10-04 15:35] ayaleloehr commented on #94
still to implement matches for subject line and from.

first to push up a PR for filtering. has to fix submodule problem.

[2016-10-04 15:36] ayaleloehr commented on #93
Marc to check if this is documented in the API.

[2016-10-04 15:39] ayaleloehr commented on #194
Marc to respond today.

[2016-10-04 15:55] robbiethegeek commented on #123
@ayaleloehr @saneshark pulled this to @omgitsbillryan , he will do the work and then add @saneshark as the reviewer.

[2016-10-04 16:05] saneshark commented on #194
@mphprogrammer for message#create when a draft is sent, can we make sure the #create action on messages controller can receive the draft_message_id and merge that in to the params we send MHV so it is automatically deleting drafts when provided?

Lets please call it something descriptive though. I'm not entirely sure how it would conform to JSONAPI because it's not really an attribute of the objec

[2016-10-04 16:11] saneshark commented on #123
This is helpful. I am not sure when I would have had a chance to get to it, plus @omgitsbillryan probably can answer the question of wether or not we can just hardcode the metadata similar to what was done for MVI WSDL files. In a way, this seems like a similar concept. We only want it initialized once, so makes sense to be in initializer, but if it is not subject to frequent enough change, then m

[2016-10-04 22:12] ayaleloehr commented on #207
We have [bundler-audit](https://github.com/rubysec/bundler-audit) in our [Gemfile](https://github.com/department-of-veterans-affairs/vets-api/blob/master/Gemfile#L52), which I think is what you're referring to @robbiethegeek

I am on board with having `'~> version.number'` for each gem.

[2016-10-04 23:31] kreek opened #214 "Create env var for enabling mvi mock service"

[2016-10-04 23:46] #148 closed

[2016-10-05 02:28] ayaleloehr commented on #163
@U-DON sorry for the delay. Prescriptions have now been updated. More are now refillable and some are now on hold and discontinued so that we can test seeing those status types as well. I'm going to assign back to you for you to test if you get a 500 error still. Please close if this seems to be working or post another failing request/response if it continues happening!

[2016-10-05 02:37] saneshark commented on #207
Adding pessimistic version constraints to certain critical gems makes a lot of sense. Adding it to all gems less so.

To avoid further bike-shedding I'll just paste a link here that discusses the benefits and drawbacks. Since we check our Gemfile.lock into source control and we do Code Reviews, and particularly because we are still very much in active development, I think it might just slow develo

[2016-10-05 03:19] saneshark commented on #207
Here is an example of how it gets confusing to introduce these types of constaints.

Say I want to install carrierwave. I look at the README for master and I see the following recommendation:

further down it says the recommended way of including it in rails is:

[code]

This would be an example of an optimistic constraint and problematic for us to introduce. I'm all for having a pessimistic const

[2016-10-05 04:25] mphprogrammer commented on #194
@saneshark Currently, because of my PIV problems I cannot actually use my VA laptop - and hence, have no network access. As of now, all I would need to do is add :id to message_params.

[2016-10-05 04:44] mphprogrammer commented on #194
@U-DON I've answered (tried to, anyway) your questions in your original comment. MHV is very limited in draft support - you can only create, delete, and update a draft, and pass its :id in the payload section of a message create or reply call.

[2016-10-05 15:42] U-DON commented on #194
@mphprogrammer The parts about the drafts endpoints and their usages (same for replies as for new messages) make sense to me. What's still blocking my entire understanding of how to convert a draft to a reply is where I get the reply id.

If I retrieve a draft with `GET /v0/messaging/health/messages/:id`, where `:id` is the draft id, I can't simply append `/thread` to get the thread it's intended

[2016-10-05 15:50] U-DON commented on #163
I still get an internal server error. I can try running the API locally to see if I can get a more descriptive error out of it.

## Request
[code]

## Response
[code]
[code]

[2016-10-05 15:56] omgitsbillryan commented on #123
I don't think it's typical that IDP metadata changes very often, but I do like the idea of fetching it with an external call.  In the event that something does change, a server restart will be all that's necessary to re-fetch it.  I'm not a fan of a Redis-backed-service since we will be reading these `SAML:SETTINGS` very frequently and it's faster to do so from local memory than from Redis.

I don

[2016-10-05 16:57] kreek commented on #207
I'm fine with the version being for a set of core gems, rails-api, pg, etc.

[2016-10-05 17:30] mphprogrammer commented on #194
@U-DON That is the weakness of the MHV scheme. You need to know the reply endpoint when you are replying with a draft. The draft object has no knowledge of what its being used for (ie, MHV doesn't allow a :reply_id in the payload of the draft). I wish I had a better answer, but right now that is how it is implemented by MHV. I suppose you would have to have the user select the message being replie

[2016-10-05 17:49] crwallace opened #216 "Response from login call back is Error: Invalid SAML Response."
In the login process, the front end is sending the SAMLResponse to `/auth/saml/callback` and I am getting a 403 error and another error stating `Error: Invalid SAML Response. Not match the saml-schema-protocol-2.0.xsd`.

This seemed to be working yesterday morning but now it is not working in any environment.

[2016-10-05 19:15] omgitsbillryan commented on #216
We hand the value of that parameter directly into [ruby-saml](https://github.com/onelogin/ruby-saml) and the error message you're seeing `403 - Error: Invalid SAML Response. Not match the saml-schema-protocol-2.0.xsd` gets returned when ruby-saml thinks the SAMLResponse is invalid.

My immediate suspicion is that some kind of url/form encoding/decoding may have altered the value of SAMLResponse be

[2016-10-05 19:17] mphprogrammer commented on #194
@ayaleloehr I was under the impression that we had decided not to do reply-with-draft because of the MHV wonkiness.

[2016-10-05 20:25] omgitsbillryan commented on #123
@saneshark very cool stuff, I think this will serve our purposes.

[2016-10-05 20:42] saneshark commented on #123
@omgitsbillryan possibly consider putting it in lib instead instead of initializers since it is a class. That way you'll be forced to write specs for it that at a unit level and can mock up something with webmock that gets served up both for your unit spec and used by controllers as a helper. At some point were going to need a helper that stubs authentication, currently everyone's controllers are

[2016-10-05 20:58] U-DON commented on #163
Never mind, can't seem to do PATCH requests locally for some reason. They keep getting turned into OPTIONS requests. Don't know why that is; on Messaging, POST and DELETE work fine.

[2016-10-05 21:57] ayaleloehr commented on #163
Error log is:
[code]
@saneshark thoughts?

[2016-10-06 15:37] omgitsbillryan commented on #123
@saneshark Review started #223

[2016-10-06 18:21] lihanli opened #227 "daily job to send edu-benefits report email"

[2016-10-06 19:37] saneshark commented on #163
@U-DON can you verify that the count for refill actually changed? It appears as though MHV is returning a normal string instead of a JSON string in the response.body and therefore it's causing a serialization error -- really they should be returning no content and status 200, this is bad design on their part, but I will fix it.

[2016-10-06 19:40] saneshark commented on #163
Even if it was `{ status: Successfully submitted to: DAYT29 }` it would be better than a basic string... I'm not sure what the point of specifying 'Accepts': 'application/json' in the header is for if they don't respect it 👎

[2016-10-06 19:51] omgitsbillryan commented on #216
TL;DR -
There was an issue on the ID.me side and Tanel has fixed it.

Long Version -
The `ID` attribute inside the <samlp:Response> tag has the same value as the `ID` attribute inside the <saml:Assertion> tag and <ds:Reference> tag.  I'm not enough of a SAML spec expert to tell you _why_ that's not allowed, but it isn't, and our ruby-saml library threw a validation error as a result.

[2016-10-06 19:53] #174 closed

[2016-10-06 20:04] U-DON commented on #163
@saneshark The refill count doesn't change, at least not right away from what I see so far. Like before, the status of the prescription does change to pending, so it looks like something is happening server side.

[2016-10-06 20:51] U-DON commented on #103
Been a while, but just got one today.

[code]

[2016-10-07 03:37] ayaleloehr commented on #163
Email sent to Ken asking why they are sending back a string instead of JSON. will follow up here as soon as I hear back. @saneshark is there any sort of workaround we can put in for testing in the mean time so that at least the 200 is passed back to the frontend instead of a 500?

[2016-10-07 06:15] saneshark commented on #163
Without testing to see that the string is exactly 'Successfully submitted to: DAYT29' this and not something more, there isn't really a good way to be certain. I tried to look for a prescription to test with but that are all `is_refillable: false`

[2016-10-07 13:29] #170 closed

[2016-10-07 13:30] #171 closed

[2016-10-07 13:31] #172 closed

[2016-10-07 14:05] #94 closed

[2016-10-07 14:48] ayaleloehr commented on #163
@saneshark if you go to https://staging.vets.gov/api/v0/prescriptions/active there are a number of prescriptions that have `is_refillable: true`.  Although that now makes me realize that prescriptions sometimes are refillable from the /active call but not from the /history call, which is totally wonky.  Adding it to my list of questions for Ken/Muazzam.

[2016-10-07 14:52] ayaleloehr commented on #207
Making a call that ^ is a good enough decision.  Assigning to @kreek

[2016-10-07 15:06] robbiethegeek commented on #207
@ayaleloehr ++ this comment made me LOL for realz!

LGTM also :shipit:

[2016-10-07 19:14] kreek opened #236 "Update MVI response to handle nested attrs (name, ssn, etc)"

[2016-10-07 19:22] omgitsbillryan commented on #216
I'm closing.

[2016-10-07 19:22] #216 closed

[2016-10-07 19:37] ayaleloehr commented on #163
@U-DON this should be fixed now with the most recent deploy to staging. Give it a try when you can and let us know!

[2016-10-07 19:40] ayaleloehr commented on #103
So these failures have slowed down a lot since @saneshark put in #193 where we started making fewer requests for the same user at the same time. I have a strong feeling that caching the session token will help alleviate the remaining issues. Going to leave open until we get caching working so that once it is, we can track if this happens again.

[2016-10-07 19:59] U-DON commented on #163
@ayaleloehr Yup, getting a successful response now. :+1:

[2016-10-07 20:38] #163 closed

[2016-10-10 17:03] #123 closed

[2016-10-11 08:38] saneshark commented on #96
Implemented and final:

GET  v0/messaging/health/messages/:message_id/attachments/:id

Implemented and incomplete (not yet ready for testing)

POST v0/messaging/health/messages
with content_type = 'multipart/form-data'

This is the same endpoint used for sending a message, but if it includes a multipart file attribute then it will save that file as an attachment. This endpoint currently works, but

[2016-10-11 15:15] robbiethegeek opened #243 "Support LOA1 / LOA3 on resource paths"

[2016-10-11 15:34] ayaleloehr commented on #104
filtering in, sorting to be done with PR that's open right now.

[2016-10-11 15:38] ayaleloehr opened #244 "MVI integration"
Using mock MVI service. Connect with @kreek on how to make this work.

[2016-10-11 15:39] ayaleloehr opened #245 "Caching"
Caching + cache busting

[2016-10-11 15:41] ayaleloehr commented on #245
Separate out session vs get request.

[2016-10-11 20:39] U-DON commented on #103
I've been getting this a lot more today. Here's another time stamp.

[code]

[2016-10-11 21:35] ayaleloehr commented on #103
Error from that call is is:

[code]

It looks like there is also a call to `/v0/messaging/health/folders/-2`

[code]

@U-DON which page was this on and what was that second call for?

I'm still pretty convinced that this is happening because we're not caching on our side (which @saneshark has on his radar to work on this week) and there is a race condition.

[2016-10-11 21:38] U-DON commented on #103
@ayaleloehr This came up when I was navigating through the pages of one of the folders. We make two calls when we access a folder: one for the folder itself and another for its messages.

[2016-10-12 02:44] robbiethegeek commented on #75
@aub has started working on a Design Doc for this and will likely have a first pass at the implementation this week

[2016-10-12 02:48] robbiethegeek commented on #173
https://github.com/department-of-veterans-affairs/vets-api/tree/loa3-session-hack

@omgitsbillryan I worked on a branch to get this working for @crwallace to continue testing, this has a working solution of adding ?level=high for LOA3 and without it LOA1.

Please take a look and see if this can be used going forward (it is already rebased against @kreek's PR that got merged in).

Needs tests :)

[2016-10-12 16:27] robbiethegeek commented on #74
https://github.com/department-of-veterans-affairs/platform-team/pull/146 we have started the process of how we think about this.

[2016-10-12 19:15] markolson opened #249 "Add a re-route mechanism for applications"
Sometimes applications are sent to the "wrong" processing center, usually because of some user input error or mistake, and the application needs to be re-sent to a different processing center.

[2016-10-12 22:06] #214 closed

[2016-10-12 22:06] #236 closed

[2016-10-12 22:14] kreek opened #250 "MVI 1305 validation fixes"

[2016-10-13 05:26] ayaleloehr opened #252 "Default sort for active prescriptions"
Default sort for active prescriptions (no sort parameters passed in the query string) should be refill_date, newest first.

[2016-10-13 05:32] ayaleloehr commented on #252
this might be wrong actually. going to ask gina, but closing for now to avoid confusion.

[2016-10-13 05:32] #252 closed

[2016-10-13 05:35] ayaleloehr opened #253 "Sorting prescriptions when dates can be null"
Sorting prescriptions seems to not work when the field you're sorting on is sometimes null. One example currently is https://staging-api.vets.gov/v0/prescriptions?sort=dispensed_date doesn't seem to actually sort by dispensed_date.

cc both @saneshark and @mphprogrammer as I'm not sure which of you will have time to work on this first

[2016-10-13 06:18] #96 closed

[2016-10-13 06:27] saneshark commented on #253
This issue is a duplicate of #127

[2016-10-13 06:28] saneshark opened #254 "Caching MHV session tokens"

[2016-10-13 06:31] saneshark commented on #245
[ ] - Session Caching (see #254)
[ ] - Caching and Cache Busting of Get Requests (this is not currently possible design document for caching - currently pull request in platform-api)

[2016-10-13 06:34] saneshark commented on #244
Blocked by:

1) mock MVI service is only supported on dev
2) dev cannot handshake with MHV services

Unless dev firewall restrictions allow to communicate with MHV again or we can use the MockService on staging, we can't really test this one.

[2016-10-13 13:38] ayaleloehr commented on #253
I knew it was somewhere!  Well, I'll close that one and leave this one open.  For our records, this is originally from https://github.com/department-of-veterans-affairs/prescriptions-api/issues/67

[2016-10-13 13:38] #127 closed

[2016-10-13 13:44] ayaleloehr commented on #245
Open PR @saneshark wrote for cache busting (checkbox two above): https://github.com/department-of-veterans-affairs/platform-team/pull/148

[2016-10-13 15:12] jcmeloni commented on #99
@markolson Is this something that is a requirement for Veterans Day? (I'm trying to help wrangle Veterans Day stuff into a veterans-day label for issues)  Thanks!

[2016-10-13 15:26] jcmeloni commented on #202
@akainic Is this part of the Veterans Day requirements? (I'm trying to help wrangle Veterans Day stuff into a veterans-day label for issues)  Thanks!

[2016-10-13 15:27] jcmeloni commented on #203
@akainic Is this part of the Veterans Day requirements? Thanks!

[2016-10-13 15:28] jcmeloni commented on #227
@akainic Is this part of the Veterans Day requirements? Thanks!

[2016-10-13 15:32] jcmeloni commented on #250
@kreek Assuming this is for the items that Savita noted -- would it be helpful for me to list them here for reference out of the document...or have you already made the changes. :)

[2016-10-13 17:52] jcmeloni commented on #38
@robbiethegeek Should we move the content of this to a reference md file somewhere, or are there outstanding questions/action items we should suss out for after Veterans Day?

[2016-10-13 17:54] jcmeloni commented on #76
Hi @jkassemi, just making sure you still need this, or if you already have some parts of it documented elsewhere? I know DevOps has been moving fast & furious...

[2016-10-13 17:56] jcmeloni commented on #103
@ayaleloehr What do you think about labeling this as veterans-day, so we can be sure to track nailing down the race condition issue before launch?

[2016-10-13 18:04] jcmeloni commented on #249
@akainic @markolson If this is something we need to have in for Veterans Day, could you please throw the veterans-day tag on it? Thanks!

[2016-10-13 18:06] jcmeloni commented on #253
@ayaleloehr If this is something we want to fix up for Veterans Day, could you please throw the veterans-day tag on it? Thanks!

[2016-10-13 18:29] kreek commented on #250
already made the changes from the word doc she sent thanks :)

[2016-10-13 18:36] jcmeloni commented on #250
Ha ha I figured. 👍

[2016-10-13 19:41] akainic commented on #249
@jcmeloni I don't think it's something we absolutely need to have by Veterans Day, but @markolson can correct me if I'm wrong on that

[2016-10-13 19:59] markolson commented on #249
I don't think it's part of an MVP for launch, but I want to get cracking on it sooner rather than later.

[2016-10-13 20:19] jcmeloni commented on #249
Cool. We won't label it veterans-day but let's all keep on truckin'! :)

[2016-10-14 04:16] omgitsbillryan commented on #243
I'll provide more details:

**Description**
We need an authorization framework in place the protect various resources on vets-api.  The levels are:

1. No AuthZ required (e.g. `/sessions/new`)
2. LOA1 required (e.g. `/profile`)
3. LOA3 required (e.g. `TBD`)

**Use Case**
As a user who has authenticated with ID.me at LOA1, I request an LOA3 resource, I should receive `403 forbidden` and a json body

[2016-10-14 10:23] ayaleloehr commented on #244
Dev firewall restrictions are not going to be opened unfortunately. We will only be using staging and prod for MHV, as Secure Messaging only has those 2 environments and we're not allowed to have 2 vets.gov environments both connect to 1 MHV environment apparently. Please let me know if you foresee large issues this will cause and I can try to push back more, but this is the answer I have gotten s

[2016-10-14 18:56] akainic commented on #203
@jcmeloni I don't think so, post Veterans Day!

[2016-10-14 18:57] akainic commented on #227
@jcmeloni yes it is! Needs to be done before education form launches

[2016-10-14 20:31] patrickvinograd opened #273 "Add rails_12factor gem to enable logging to standard out"
This is a devops/app standardization requirement.

[2016-10-14 20:34] #254 closed

[2016-10-14 21:28] saneshark commented on #103
We should be able to get better testing around this now that we're doing session caching.

[2016-10-14 23:11] jkassemi commented on #76
Thanks @jcmeloni - yep, we've started to get a good idea of what we're dealing with, but this information (and any contact information) from the folks who know the most about the integrations would still be useful.

We've only just started documenting these for ourselves here: https://github.com/department-of-veterans-affairs/devops/pull/675

[2016-10-14 23:50] kreek opened #274 "Integrate structured logger"
- [ ] replace rails logger
- [ ] test manual logger calls
- [ ] test automated controller logging
- [ ] test automated model logging
- [ ] test exception logging
- [ ] work with devops to confirm JSON format logs are parsed correctly by CloudWatch

[2016-10-15 00:06] kreek opened #275 "Allow mock MVI service to handle multiple users"
Currently the mock service returns the same MVI data hash for every user. Allow multiple responses based on user SSN to be defined in mock_mvi_responses.yml and also a default response for when a user's SSN is not in the YAML file.

[2016-10-17 15:51] #275 closed

[2016-10-17 15:52] #250 closed

[2016-10-17 18:18] akainic commented on #202
Done

[2016-10-17 18:18] #202 closed

[2016-10-17 18:34] jcmeloni commented on #243
@omgitsbillryan @robbiethegeek Here's info collected from the various shared data / needs lists. LMK what else you need.

<table>
<tr>
   <th>Name</th>
  <th>AuthZ</th>
  <th>Data Needed from MVI</th>
</tr>
<tr>
   <td>Facility Locator</td>
  <td>none</td>
  <td>none</td>
</tr>
<tr>
   <td>Health Care Application</td>
  <td>none</td>
  <td>none</td>
</tr>
<tr>
   <td>Benefits Explorer</td>
  <td>n

[2016-10-17 18:34] akainic commented on #30
Make sure it works. For launch.

[2016-10-17 18:38] akainic commented on #227
Closing, duplicate of #237

[2016-10-17 18:38] #227 closed

[2016-10-17 19:22] kreek opened #281 "Update MVI response to match all MVH correlation id sender codes"
Found out that in staging the MHV correlation id is different than in prod or dev, so the possible MHV sender coders are:

200MH
200MHS

Update the id selector to grab either of them.

[2016-10-17 19:23] kreek opened #282 "Set user gender from id.me saml attrs"

[2016-10-17 19:44] lihanli opened #283 "fix validation errors either on the frontend or backend"
[code]

[2016-10-17 20:29] omgitsbillryan opened #284 "Separate JSON /profile Schemas for LOA 1 & 2"
Right now we only have one JSON schema for `profile`.  However, the attributes for LOA1 vs LOA3 are different enough to warrant a schema for each.  This issue is to refactor the profile.json schema into two separate schemas for LOA 1 & 3.

[2016-10-17 20:35] robbiethegeek opened #286 "Update findCandidate MHV (staging)"
update the regex on line 76.

mhv_id: select_extension(ids, /^\w+\^PI\^200MHV\^\w+\^\w+$/, CORRELATION_ROOT_ID)

To support Staging pattern

[2016-10-18 00:02] kreek commented on #286
duplicate of https://github.com/department-of-veterans-affairs/vets-api/issues/281

[2016-10-18 00:02] #286 closed

[2016-10-18 01:19] webinista opened #292 "Messaging: Getting 400 Bad Request errors"
When trying to send a message -- with or without attachments -- I'm getting errors from the API. Example request:

<img width="848" alt="400error" src="https://cloud.githubusercontent.com/assets/354277/19461007/ac034f6c-9495-11e6-9926-372997e0c0ac.png">

What am I doing wrong?

[2016-10-18 15:33] omgitsbillryan opened #294 "Available Services to User"
**Context**
As part of the `/v0/profile` endpoint, we defined a JSON structure that gets returned.  Part of that structure includes a `data.attributes.services` array.  The values inside this array represent the services that are available to the user based on which ID's they have.

This issue tracks the work of:
- [ ] Define what are the possible constants for that array and update the [profile d

[2016-10-18 16:44] saneshark commented on #292
It would appear as though your request has content-type of `multipart/form-data` - I would send these messages as a normal `application/json` message body unless you actually have `uploads[]` - I could look at providing a more detailed error message though. What kind of error are you getting?

[2016-10-18 19:14] #253 closed

[2016-10-18 22:35] webinista commented on #292
I posted this in Slack, but I think it's probably easier to track down here.

Here's an example request as copied-and-pasted from Chrome's dev tools.

[code]

The error message I'm getting is a 500 status message containing the following, very unhelpful JSON: `{"errors":[{"title":"Internal Server Error","detail":"Internal Server Error","code":"500","status":"500"}]}`

I can provide a request ID an

[2016-10-19 06:57] saneshark commented on #292
@webinista I tested the curl script above against my local server while on the VA network connecting to the same syst server that staging uses. The internal server error appears to be the result of MHV request timing out -- I'm going to play around with it a bit, to see if I can get more information before going back to MHV to explain this issue.

[2016-10-19 07:02] saneshark commented on #292
Ok, so I increased the read_timeout setting from 15 seconds to 60 seconds, and I counted. After about 39 seconds the request completed and returned the expected response for a newly created message. So this would suggest that it is entirely an issue on MHV's side and that for whatever reason, the 10 second SLA that they promise is not being met after the recent changes they made.

Tagging @ayalelo

[2016-10-19 16:46] robbiethegeek opened #299 "Allow user to update bad MVI profile data"
Placeholder

[2016-10-19 16:48] robbiethegeek opened #300 "Figure out UI for User Profile data being incorrect..."
This is going to involve letting the user know where the data lives and how to update it.

If it is ID.me likely they will have to run over there to update, created a ticket for tracking updating the data in MVI #299

[2016-10-19 18:36] webinista commented on #292
Here's an example of a cURL request (from Chrome's DevTools) that's similar to the one that triggered a `400 Bad Request` response (before we discovered that there's also an MHV problem).

[code]

Here's what Chrome reports as the Request headers:

[code]

Here's what Chrome reports as the payload:

[code]

## Important details

- The payload was assembled using the `FormData` API
- The request is

[2016-10-19 21:15] saneshark commented on #292
@webinista so MHV might have resolved the issues on their side, I'm not getting the same timeout issues. The problem you're describing is definitely with how the data is being sent though.

When your content disposition is form-data, name: "message" and the data is json, Rails has no way of marshalling that into individual parameters. It's going to treat it as message = "your json string" vs messa

[2016-10-19 21:16] saneshark commented on #292
Since you cannot change the content disposition, instead you will need to provide form data for each and every component as its own separate form data part in the multipart request.
where name:

message[category]
message[subject]
...

[2016-10-19 21:18] saneshark commented on #292
Your first curl request you provided though works perfectly. It's this second one that will cause issues.

[2016-10-19 21:21] saneshark commented on #292
I will leave this issue for now and let you close this, but this does not appear to be a bug, it's definitely a bad request 400 from what I'm seeing.

[2016-10-19 22:07] webinista commented on #292
Is it possible to accept `message` and then parse the JSON string that we send into a Rails-friendly object?

[2016-10-19 22:16] saneshark commented on #292
yes, but the content disposition must match the data type or rails doesnt know if its a string as part of form-data or application/json, or whatever. The content disposition is the mimetype for the part of the multipart basically, without it rails can only treat it as a raw string, not as json.

[2016-10-19 22:31] #282 closed

[2016-10-19 22:31] #281 closed

[2016-10-20 00:42] webinista commented on #292
Using snake cased keys was the trick.

[2016-10-20 00:42] #292 closed

[2016-10-20 15:51] #30 closed

[2016-10-20 20:00] robbiethegeek opened #311 "Sessions endpoint LOA level validation (revisit)"
Revisit the validation of the level being passed in:

We could still raise an error here if there is a bad level provided if that is the desired functionality. Also, you can remove the nil check, nil.to_i = 0

https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/controllers/application_controller.rb#L71

[2016-10-20 22:05] lihanli opened #313 "use s3 to upload csv files for the year to date report"
govdelivery gem doesn't support attachments so we need to upload the csv to s3 then send the link in the email

[2016-10-21 00:36] U-DON commented on #103
@ayaleloehr Still occasionally getting this.

[code]

[2016-10-21 00:45] U-DON opened #315 "Sender and recipient are swapped for messages in a collection?"
When I go to any folder, the sender and recipient values seem to be swapped. For example, the most recent message (id 634998) in Inbox (`/messaging/health/folders/0/messages`) has MVIONE, TEST as the sender, but I believe that's the test user. And the recipient is KARSHENAS, KAMYAR instead. When I go to the message itself (`/messaging/health/messages/634998`), it's the other way around.

[2016-10-21 01:35] mphprogrammer commented on #315
It really shouldn't be, that's odd. Both endpoints collection and non-collection use Message. Let me look into this.

[2016-10-21 01:39] mphprogrammer commented on #315
Well, I'm dead in the water now ...
<HTML>
    <HEAD>
        <TITLE>Weblogic Bridge Message
</TITLE>
    </HEAD>
    <BODY>
        <H2>Failure of server APACHE bridge:</H2>
        <P>
            <hr>No backend server available for connection: timed out after 10 seconds or idempotent set to OFF.

            <hr>
            <BR>
            <B>Build date/time:</B>
            <I>Apr 20 2009 15

[2016-10-21 01:48] mphprogrammer commented on #315
@U-DON OK - MHV is down right now, but I looked at some old vcr recordings. It looks like that's the way it comes back from MHV!!

When we call MHV to return all messages in a folder, we get the json
[code]
Take a look at the last message`573052`.  When we retrieve that message, MHV sends back the following json:
[code]

The recipient and sender is switched! Great Catch!! I will let the folks at M

[2016-10-21 01:54] saneshark commented on #315
I believe I sent this as MVIONE TEST from the admin interface. sorry for the confusion.

[2016-10-21 19:39] aub commented on #100
Apologies for reopening this, but I'm currently doing some work around task queueing and would like to revisit the use of ActiveJob. Having spoken with @markolson, @austin-martinez, and @saneshark about it, it seems no one is too thrilled with using it, and we should switch to using Sidekiq directly for the following reasons:

1. Because ActiveJob tries to be a wrapper around all job queueing syst

[2016-10-21 22:13] ayaleloehr commented on #315
@U-DON can you see if this happens again? MHV says they fixed this today.

[2016-10-21 22:19] ayaleloehr opened #321 "Change default sort for active prescriptions"
The default sort for active prescriptions should be refill_submit_date, most recent first.

Hoping this is a one line change, but @saneshark just refactored the sorting work so it nulls can be sorted on, so going to assign to him.

[2016-10-21 23:56] U-DON commented on #315
Yup, works correctly now!

[2016-10-21 23:56] #315 closed

[2016-10-24 17:11] jcmeloni commented on #243
@omgitsbillryan @robbiethegeek The aforementioned table ^^

[2016-10-24 17:12] omgitsbillryan opened #329 "Bug: Assumed `gender` value in SAML Assertion parsing logic"

[2016-10-24 18:21] akainic commented on #283
Both issues fixed

[2016-10-24 20:22] #329 closed

[2016-10-25 14:12] ayaleloehr commented on #245
Closing as too broad. Will open separate issues.

[2016-10-25 14:12] #245 closed

[2016-10-25 14:16] ayaleloehr opened #341 "Rx caching GET requests"
- To be implemented in Redis per [this](https://github.com/department-of-veterans-affairs/devops/issues/828#issuecomment-255201506) thread (great conversation there!).
- Cache GET requests, then make sure future requests use this cached result (if it exists) rather than calling MHV.
- Should bust cache for all of that user's Rx GET requests when a POST is performed.
- Should have an expiration on

[2016-10-25 14:18] ayaleloehr opened #342 "SM caching GET requests"
Similar to #341 but potentially more complex because (1) there are far more POSTs in SM and (2) Veterans will receive messages back at a more frequent rate than their prescription info will change.  With that, the cache here should likely be pretty short, on the order of minute(s).  Other context from #341 still is relevant though.

[2016-10-25 14:25] ayaleloehr opened #343 "Account activity login for MHV"
When a user uses the Rx or SM API's for the first time each vets.gov login session, we need to send an Account Activity Login API call to MHV.

The current plan is to add a boolean (named something to the effect of `mhv_login_sent`) to the user profile and check that boolean every time we get an MHV session token. If the boolean says we have already sent this login call, don't send it again; if we

[2016-10-25 14:32] ayaleloehr opened #344 "Account Activity logout for MHV"
Similar to #343 but for logout. When user explicitly clicks the logout button, we're supposed to send a Account Activity Logout API call to MHV.  When a vets.gov session times out, however, we don't have to send any API call to MHV.

To implement I believe the steps are:
- We will need to call the `destroy` action on the session when a user clicks the logout button (currently we're not making an A

[2016-10-25 14:33] ayaleloehr opened #345 "documentation for replies/drafts"

[2016-10-25 14:40] ayaleloehr opened #346 "Error message text"
Vague card that will probably need to be broken down further before implementation, but wanted to get something down so it isn't lost.

We will need to translate from MHV what we want errors to our users to say.  For example, if MHV gives use "User is not eligible because they have not accepted terms and conditions or opted-in", we might instead want to return "You have not yet accepted the MHV te

[2016-10-25 15:11] ayaleloehr opened #348 "add validations for sending drafts and reply drafts"
to be done by tomorrow. frond end shouldn't see the difference.

[2016-10-25 15:11] #104 closed

[2016-10-25 15:11] #93 closed

[2016-10-27 16:57] #134 closed

[2016-10-27 20:38] #348 closed

[2016-10-27 22:32] lihanli opened #373 "finish daily report email"
- add daily report job to scheduler
- get list of people who should be emailed
- don't use STAGING_EMAIL env var and switch to GOV_DELIVERY_SERVER var

[2016-10-27 23:02] U-DON opened #375 "Figuring out front-end implementation of reply drafts"
Some things I encountered while trying out replies and reply drafts…
1. When I start a reply to something in my Inbox, the thread has messages up to the last time the clinician responded. To use an example, message 621407 has two messages in its thread and the message itself is from the clinician. This is expected. When I save the draft of my reply to this message, the thread for the message draft

[2016-10-28 01:29] mphprogrammer commented on #375
So, if I understand: Suppose I have a message in the inbox with id: 621407. I could send two replies, one after the other with ids 623563, followed by 628238. If I now create a new reply draft to 621407, with a new reply draft id of 657757. When I look at the thread for 657757, i would see the following, in order: [628238, 623563, 621407, ... ]. I would say the surest thing to do would be to searc

[2016-10-28 01:32] mphprogrammer commented on #375
However, If I were to use another reply from the thread it still seems to work.

[2016-10-28 05:18] ayaleloehr commented on #244
@saneshark Implemented for Rx [here](https://github.com/department-of-veterans-affairs/vets-api/pull/352), then reverted in [this](https://github.com/department-of-veterans-affairs/vets-api/pull/365).

Still need to have it implemented for SM, although cannot merge that until step 4 is completed [here](https://github.com/department-of-veterans-affairs/kudos-team/issues/238).  Thinking maybe @mphpr

[2016-10-28 05:45] U-DON commented on #375
Yup, the scenario is as you described.

I'm not sure where you were testing this out, though. Reply drafts implementation on the front-end isn't on staging yet; my observations were from my own branch that has yet to be merged.

[2016-10-28 05:51] U-DON commented on #375
Another error I just came across when I tried saving a reply draft to message 573314 ("Release 16.2- SM last login" from Apr 13):

[code]

[2016-10-28 06:01] U-DON commented on #375
Filtering on `recipientName`/`recipientId` makes sense.

I was looking at the thread that seems to be growing way too big and noticed that the message you sent as the clinician wasn't showing up in the thread anymore, and then I realized that the default `per_page` for a thread is just 10.

Can this be increased to a much higher number? We would still have to figure out design-wise how we want to

[2016-10-28 12:36] aub commented on #244
@ayaleloehr I was planning on implementing that for SM once my PR [here](https://github.com/department-of-veterans-affairs/vets-api/pull/369) gets merged in. It should be a really simple duplication of the work @saneshark has already done for Rx.

[2016-10-28 13:34] ayaleloehr commented on #244
@aub touch base quickly with @mphprogrammer first please. Should be fine but he might have started that so just want to be sure we don't duplicate the duplication

[2016-10-28 22:31] #313 closed

[2016-10-31 12:11] leannammiller commented on #283
@akainic - who is responsible for this card?

[2016-10-31 14:36] mphprogrammer commented on #375
We can increase the default per page - what number would be reasonable for the client?

[2016-10-31 14:51] akainic commented on #283
I will be, making the additional fix that needs to be made now: https://github.com/department-of-veterans-affairs/vets-json-schema/pull/35

[2016-10-31 15:07] jcmeloni commented on #284
@omgitsbillryan Is there any more action we need to do on this or can it be closed since the PR is merged? cc @robbiethegeek

[2016-10-31 15:38] #283 closed

[2016-10-31 16:28] U-DON commented on #375
Perhaps 25? 50? Is there any way to always include the last message where the user was the recipient?

[2016-10-31 17:49] ayaleloehr commented on #375
Let's do 50.  That seems conservative enough for now without having to change the logic to check for the last message the user received.

[2016-10-31 17:53] U-DON commented on #375
50 seems conservative enough to me too. Similar to the edge case where a user wouldn't be able to see more than the first page of folders (I think that number was 100?), it seems highly unlikely to occur that they'd exceed the per-page number for messages, but we should probably think about handling these edge cases at some point.

[2016-10-31 18:04] mphprogrammer commented on #375
I can set it 50, that's a small change - but also know that you are free to specify any page size using the per_page variable in your query.

[2016-10-31 21:27] omgitsbillryan commented on #284
This has not been completed - must remain open.

[2016-10-31 21:31] omgitsbillryan commented on #173
This work has been completed.

[2016-10-31 21:31] #173 closed

[2016-10-31 22:22] U-DON commented on #375
Actually, coming back to this, I'm not sure if replying to your own message is a problem as long as the clinician still sees it in the thread, right? Isn't the main issue that replying to your own message duplicating the sent message?

To re-use the example from above, [628238, 623563, 621407, ... ], where 621407 is the message you saw in your inbox and the first two ids are your replies; if you r

[2016-10-31 22:43] U-DON commented on #375
To use an actual example for the behavior I'm observing (where your consecutive replies to an inbox message will all get added to the thread):

* I sent a reply to your 'some really new subject' message.
* When I view that reply in my Sent folder, I still see all of the test user's previous replies even though I specified the original message you sent as the message I was replying to.
* So it seem

[2016-11-01 01:05] mphprogrammer commented on #375
I think you're right about that. As a side note, the same does not happen
for draft replies and threads. So If I create two consecutive draft replies
(ids 2 and 3) for message 1. Their respective history will only include
message 1.

On Mon, Oct 31, 2016 at 6:43 PM, Eugene Doan <notifications@github.com>
wrote:

[2016-11-01 14:12] ayaleloehr opened #397 "Default sorts"
Sorry these keep changing...

Can the default sort for active prescriptions be by prescription_name, alphabetically.

And the default sort for the history call be refill_date

[2016-11-01 14:46] U-DON commented on #375
I can confirm seeing that for reply drafts. That behavior makes sense to me; they're not messages that haven't been officially sent yet, so only message 1 will show up in their histories. Only when they are sent as replies will they be included in each other's history.

It also appears that if you have 2 and 3 as drafts, sending 2 won't include 2 in 3's history. But then after sending 3, 2 will be

[2016-11-01 15:56] robbiethegeek opened #398 "API - Logout"
- create before actions for:
  - MHV audit logout (if MHV audit login had been called)
  - send SLO request to ID.me
- destroy session

[2016-11-01 20:19] mphprogrammer commented on #397
We've made prescription_name the default sort for prescriptions. To sort active prescriptions by refill date, we can sort in the query string:
?sort=refill_date

[2016-11-01 22:51] kreek opened #408 "MVI settings initializer"

[2016-11-01 23:07] greggersh commented on #398
What does the SLO request to ID.me do? Does it end the ID.me session? I don't think vets.gov should be managing the ID.me session.

[2016-11-01 23:45] kreek opened #409 "Log MVI multiple match invalid request details"
MVI will return an invalid request response if there's a potential duplicate match. For this we return record not found but we should add logging so support knows why the user wasn't found.

[2016-11-01 23:56] #408 closed

[2016-11-02 01:01] U-DON commented on #375
Closing this since the resolution is to discuss the strange behavior with MHV. The particular topic concerns duplication of sent messages when replying to the user's own message in a thread, even though the reply gets appended to the thread anyway just like a direct reply to the clinician's message.

[2016-11-02 01:01] #375 closed

[2016-11-02 03:10] ayaleloehr commented on #398
Edited the MHV line in Robbie's comment to be more accurate (only call logout if we have called login on this session)

[2016-11-02 14:07] J-Quag commented on #373
To:
Marino, Christopher M., PITC <Christopher.Marino2@va.gov>;
VAVBAWAS/CO/224A <224A.VBACO@va.gov>;
Alexander, Rodney, VBAVACO <rodney.alexander@va.gov>;
BRITT, URSULA R. <URSULA.BRITT@va.gov>;
McCollam, Carolyn, VBAVACO <Carolyn.McCollam@va.gov>;
Norton, Shay, VBAVACO <shay.norton@va.gov>;
DiTucci, Christina, VBAVACO <Christina.DiTucci@va.gov>

Cc:
Orifici, Robert <robert.orifici@va.gov>;
Haskin

[2016-11-02 14:25] aub commented on #398
@greggersh yes that is what it would do. I don't have a good sense of the arguments for/against, but we'll need to get this resolved before I can start on this ticket.

[2016-11-02 14:42] jcmeloni commented on #398
@robbiethegeek do we need to revisit this with @staceylanger & @greggersh?

[2016-11-02 14:46] robbiethegeek commented on #398
@staceylanger wanted this to be the case @greggersh, we can happily chat about it but the context was on logout from Vets.Gov log them out of ID.me for simplicity / security (MVP for veterans day)

[2016-11-02 15:41] staceylanger commented on #398
@greggersh I agree that IDme gets to determine how they want their session handled. Since we may have high usage on shared computers and there is a way by which we could end both sessions, I was erring on the side of security for the user. I think someone from IDme was in the slack channel with this was discussed, but it makes sense to get their perspective on what they want us to do.

For the tea

[2016-11-02 17:19] tanelsuurhans commented on #398
The common way to handle the sessions for the SSO service is to invoke the SLO endpoint when a user logs out on Vets.Gov, which then also ends their session on ID.me. Thats how its usually done and yes, while it might seem a little odd for the SSO experience, the user did directly indicate they wanted to log out and as the session creation was handled by us, ending it is also handled through us.

[2016-11-02 17:29] staceylanger commented on #398
Thanks, @tanelsuurhans. Given this, the outline @robbiethegeek provided above remains accurate.

[2016-11-02 17:29] robbiethegeek opened #415 "Simplify the profile object if MVI is down or no data"
After talking with @crwallace about the possible states, seems like the profile object can / should be simplified

Below is the [current profile](vets-api/docs/api/profile.md):
If MVI is down or no vet found or multiple vets found we should convert the va_profile to an empty array.

{
  "data": {
    "id": "",
    "type": "users",
    "attributes": {
      // guaranteed not-null @ LOA 1
      "ser

[2016-11-02 17:33] robbiethegeek commented on #398
Thanks all for the feedback and the quick cycle.  @aub you have the comms :)

[2016-11-02 17:35] greggersh commented on #398
I dont think it's at all clear or desirable to the user that logout on
vets.gov ends their session on ID.me. The best way to handle this is to
force reauthentication when a user comes back to vets.gov.

On Wednesday, November 2, 2016, staceylanger <notifications@github.com>
wrote:

--
Greg Gershman
CEO, Ad Hoc LLC
443-928-2961
https://adhocteam.us <http://adhocteam.us>

[2016-11-02 17:40] omgitsbillryan opened #416 "Use separate keys for SAML signing & encryption"
Currently, we use the same key for SAML Request signing as we do for SAML Response decryption, as seen by our `/saml/metadata` endpoint:

[code]

At least for `prod` we should be using separate keys for each operation.

[2016-11-02 17:54] staceylanger commented on #398
It sounds like we have two viable technical approaches from a vets.gov and ID.me perspective. The disagreement is related to user expectations. Given we are are 10-ish days from veterans day - let's proceed with the agreement from yesterday as the team has started. We will take the to-do to get user feedback when we re-evaluate this. There is an efficiency in doing the MHV log out work and SLO wor

[2016-11-02 18:14] omgitsbillryan commented on #416
After some reading, looks like the creators of `ruby-saml` intentionally left out this ability in the spirit of simplicity,

My experience in SAML project says to me that 99% of people use the same thing for both method.  My main goal when implementing the OneLogin's SAML Toolkits was to keep the toolkit simple and cover all the main scenarios. We already have complex solutions with complex settin

[2016-11-02 19:23] robbiethegeek commented on #243
@aub we can close this as complete now SM went in today

[2016-11-02 19:24] robbiethegeek commented on #244
@ayaleloehr on the login is reenabled on RX we should be able to close.

[2016-11-02 19:27] aub commented on #243
Slammin

[2016-11-02 19:27] #243 closed

[2016-11-02 19:30] ayaleloehr commented on #244
https://github.com/department-of-veterans-affairs/vets-api/pull/417 got the 👍 so closing.

[2016-11-02 19:30] #244 closed

[2016-11-02 19:35] aub commented on #415
In Decorators::MviUserDecorator we're now swallowing the error where the user is not present in MVI, but raising it if MVI appears to be down. Is this the correct response, or should we swallow those exceptions as well? Doing so would leave the user with a degraded experience and (I think) no indication as to why that is the case, but perhaps that is better than no experience at all?

[2016-11-02 19:43] robbiethegeek commented on #415
@aub I think the answer is to allow the user to come through and maybe think about if there is a way to message to the frontend in the profile object @crwallace, @emilyville thoughts on what you would like? Does MVI down differ in messaging from can't find user, found duplicates

[2016-11-02 19:53] robbiethegeek opened #420 "Remove gender as a requirement in User object"
When we are parsing the SAML and creating the user we require gender, there are some legacy users without gender in ID.me, this is causing exceptions to be thrown.  Remove the requirement and log that the SAML for the user is missing gender.

[2016-11-02 21:29] greggersh commented on #398
I missed @tanelsuurhans post above. Sounds good! :thumbsup:

[2016-11-03 00:32] #373 closed

[2016-11-03 04:15] omgitsbillryan commented on #294
Assigned to @aub .  Feel free to close if you feel this is closed.

[2016-11-03 06:15] U-DON opened #430 "Filtering messages on same start and end date returns empty set"
When I search messages by the same start and end date for a date range, I get no messages back.

**Example:**
[code]

[2016-11-03 12:06] #294 closed

[2016-11-03 12:45] akainic commented on #373
@lihanli sorry to be just thinking of this now, but do you mind also adding my email to the list? Anne.Kainic@va.gov. Thanks!

[2016-11-03 12:45] aub commented on #398
Per the [docs in ruby-saml](https://github.com/onelogin/ruby-saml#single-log-out), it looks like doing the SLO procedure requires bouncing the browser over to ID.me's logout endpoint. It seems like given that the full procedure should be:

1. User clicks on logout, which is a link to the session destroy action in the API. This is not done via AJAX.
1. The backend sends a redirect to the IDP's SLO

[2016-11-03 14:15] mphprogrammer commented on #430
@U-DON For the beginning date range HH:MM:SS should be 00:00:00, but for the ending date range it should be 23:59:59

[2016-11-03 15:13] omgitsbillryan commented on #398
@aub it looks mostly correct except one tweak.  On step 2, I think we should keep the logout call `DELETE /session` as an XHR request and respond with a `200` and a JSON body:
[code]
Then the client does the ping-pong'ing around to ID.me and the callback will be to a `api.vets.gov` url which then responds with a `302` to the browser with the `www.vets.gov` page meant for handling logout.

[2016-11-03 15:16] omgitsbillryan commented on #398
I think it might be possible to actually split the SAML Login/Logout piece out of the vets-api entire - but that's a conversation for a later day.

Given the time we have modeling the the log _out_ to match the way we do log _in_ seems like a good choice.

[2016-11-03 15:32] carlmjohnson commented on #398
I want to throw this out there:

We have an on-going debate about whether logging out of Vets.gov should or should not log you out of ID.me. I think there are pros and cons on both sides. But why do we need to choose at all? When a user clicks "log out" bring up a box that says "You are also signed in to IDme. Would you like to log out of IDme too? [Yes, IDme too] [No, just vets.gov]" and have an

[2016-11-03 15:45] aub commented on #398
@carlmjohnson I'd rather not reopen the can of worms that is trying to agree on what the behavior should be. What you're describing seems interesting, but since it's a superset of the strategy we've agreed on here I'd suggest we carry on with implementing this and consider adding that functionality later.

[2016-11-03 15:47] omgitsbillryan commented on #398
@carlmjohnson I like your idea except for the "LOA1 case", where a vets.gov-only logout of an LOA 1 session is effectively meaningless because ID.me will SSO a user right back in without any authentication challenge.  Whereas with LOA3, ID.me forces SMS auth even when an ID.me session already exists.

As @aub said I think we should stick to performing SLO for the Nov 11th release.  That said, we c

[2016-11-03 15:51] tanelsuurhans commented on #398
For a post-launch scenario there is also a third option that leverages the ForceAuth flag in the SAML payload (enforcing authentication on ID.me side):
When the user is establishing a new session on Vets.gov, the ForceAuth flag would be true when they are sent to ID.me, making sure that any existing session is destroyed and a brand new one is established.
When the user is for example going from an

[2016-11-03 15:56] jcmeloni commented on #398
All -- please do debate away for post-launch scenarios as there's time to do so, and they definitely will be revisited both for further thought and to learn additional scenarios (as @tanelsuurhans brings up) but for launch the requirement has been settled.  cc @staceylanger @robbiethegeek for quadruple confirmation.

[2016-11-03 15:59] staceylanger commented on #398
Confirmed.

[2016-11-03 16:09] omgitsbillryan commented on #398
[Flow Diagram Created](https://github.com/department-of-veterans-affairs/platform-team/blob/single-logout/identity/logout.png)

The [PR can be found here](https://github.com/department-of-veterans-affairs/platform-team/pull/167)

[2016-11-03 16:25] U-DON commented on #430
Yup, that was it. Totally missed that. Thanks, it's working as expected.

[2016-11-03 16:25] #430 closed

[2016-11-03 16:29] J-Quag commented on #373
@lihanli    @akainic
don't hate me :)

Marino, Christopher M., PITC;
VAVBAWAS/CO/224B;
Alexander, Rodney, VBAVACO;
McCollam, Carolyn, VBAVACO;
Norton, Shay, VBAVACO;
DiTucci, Christina, VBAVACO;
Terrell, Brandye, VBAVACO;
Mendola, Michele, VBABUFF;
Lopez, Jude T., VBAVACO;
Sutherland, Christopher, VBAVACO;
McNeal, John, VBAVACO;
Anne.kainic@va.gov

[2016-11-03 17:26] #397 closed

[2016-11-03 17:28] #321 closed

[2016-11-03 17:30] robbiethegeek commented on #343
Has this been completed? @ayaleloehr

[2016-11-03 17:31] robbiethegeek commented on #75
@jkassemi is this complete? Is there anything else you need from @aub ?

[2016-11-03 17:32] robbiethegeek commented on #420
closing since the PR created an issue #428

[2016-11-03 17:32] #420 closed

[2016-11-03 17:35] #38 closed

[2016-11-03 17:43] ayaleloehr commented on #343
No. It is high on @saneshark's priority list, but he's trying to work through an issue with Eugene right now on double messages sometimes being sent; it's a bug in the MHV API that we're just going to have to work around and is taking a bit more time than we hoped.  I'm hoping @saneshark will be able to have a PR up for this today though. Let me know if that timing causes problems.

[2016-11-03 17:55] lihanli commented on #373
@J-Quag you forgot the emails

[2016-11-03 17:57] J-Quag commented on #373
Marino, Christopher M., PITC <Christopher.Marino2@va.gov>;
VAVBAWAS/CO/224B <224B.VBAVACO@va.gov>;
Alexander, Rodney, VBAVACO <rodney.alexander@va.gov>;
 McCollam, Carolyn, VBAVACO <Carolyn.McCollam@va.gov>;
Norton, Shay, VBAVACO <shay.norton@va.gov>;
DiTucci, Christina, VBAVACO <Christina.DiTucci@va.gov>;
Terrell, Brandye, VBAVACO <Brandye.Terrell@va.gov>;
Mendola, Michele, VBABUFF <michele.mendo

[2016-11-03 18:00] lihanli commented on #373
is this in addition to the previous list or replacing the previous list?

[2016-11-03 18:07] saneshark commented on #194
Is this ticket resolved?

[2016-11-03 18:09] U-DON commented on #194
Yeah, I think I have an understanding of all the cases now and how they need to be handled in terms of API requests.

[2016-11-03 18:09] #194 closed

[2016-11-03 18:32] mphprogrammer opened #434 "Nice to Haves ..."
Creating a space where we can list the enhancements to MHV that would make code more straight-forward and eliminate workarounds.

[2016-11-03 18:38] mphprogrammer commented on #434
1. Perform type checking when sending messages. There is an issue with MHV whereby it is possible to change the subject line of a message being replied to with a reply draft. This can occur by editing the reply draft as an ordinary draft and changing the subject line. If we then send that reply draft using the Message controller create action, the subject line of the message being replied to chang

[2016-11-03 19:09] jkassemi commented on #75
@robbiethegeek - thanks, yes, breakers integration satisfies requirements

[2016-11-03 19:09] #75 closed

[2016-11-03 20:37] mphprogrammer commented on #345
Unless there are issues with the documentation, I am closing this.

[2016-11-03 20:37] #345 closed

[2016-11-03 20:47] ayaleloehr commented on #434
this is an excellent idea. Thanks for starting this. I will absolutely have things to add here... soon.  :)

[2016-11-03 21:46] patrickvinograd commented on #189
In progress with #437

[2016-11-03 22:54] omgitsbillryan opened #440 "Prevent LOA 3 User model validation from bubbling exceptions"
When creating a `User` model from ID.me SAML attributes, we perform a number of validations.  For an LOA 3 user, we perform validations on certain attributes to ensure the MVI will work.  When an attribute doesn't conform to our LOA 3 User model validation we get the following...

### Current Behavior
The `/auth/saml/callback` endpoint returns an http 500 and the user gets stuck with some JSON dum

[2016-11-04 04:11] ayaleloehr commented on #434
Closing in favor of https://github.com/department-of-veterans-affairs/kudos-team/issues/254

[2016-11-04 04:11] #434 closed

[2016-11-04 21:47] kreek opened #450 "MVI database down returns 200 handle as 500"
body will be

[code]

[2016-11-04 21:48] kreek opened #451 "Make MVI processing code and env var"

[2016-11-04 22:18] carlmjohnson commented on #450
We have similar problems with EVSS (JSON, not XML though). See https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/evss/error_middleware.rb for our method of catching it.

[2016-11-05 01:16] #451 closed

[2016-11-05 01:19] kreek commented on #450
@carlmjohnson was heads down saw this after PR was in, this way looks better, need to investigate for middleware that parses xml (sure it must exist) so it's not parsed twice.

[2016-11-05 01:20] #450 closed

[2016-11-05 01:37] austin-martinez commented on #450
@kreek we are using this to parse JSON, looks like it has an XML parser as well
https://github.com/lostisland/faraday_middleware/wiki/Parsing-responses

[2016-11-05 01:50] kreek commented on #450
@austin-martinez thx, I'll take a look

[2016-11-05 18:32] jkassemi opened #456 "EVSS breakers integration"
Can we have the TODO referenced here https://github.com/department-of-veterans-affairs/vets-api/blob/master/config/initializers/breakers.rb#L18 enabled before code freeze?

[2016-11-05 23:52] aub commented on #456
@austin-martinez ^^^

[2016-11-06 02:00] #456 closed

[2016-11-06 22:41] patrickvinograd commented on #189
Closed via #437.

[2016-11-06 22:41] #189 closed

[2016-11-07 14:26] J-Quag opened #458 "Sign-In page & Refresh showing Sign-In page"
Morning,
   I'm seeing an issue with logging in and the main page not refreshing after I've completed the log in process. I have to refresh the page myself in order to see Claim Status.
Browser: Firefox
Steps to recreate:
1. open the link for claim status
2. click sign in (pop up appears)
3. follow the steps / 2fa
Expected results: Pop up disappears, page refreshes, and claim status summary page a

[2016-11-07 14:28] J-Quag opened #459 "Noticed some header issues for log in area"
Just noticed that the name no longer shows up and the profile/sign out links are now in white space and not part of the header.

![image](https://cloud.githubusercontent.com/assets/15879513/20061122/70e1b7e2-a4cc-11e6-8719-e8825b5d2033.png)

[2016-11-07 14:54] jcmeloni commented on #459
@crwallace Want me to xfer to vets-website and tag Vanguard?  Not sure if there's anything on the API side here.

[2016-11-07 14:55] jcmeloni commented on #458
@crwallace Want me to xfer to vets-website and tag Vanguard?  I don't think there's anything API-related here -- but let me know if there's something you want me to run through w/ dev tools open and looking for http status codes that could be throwing things off, before you look at it.

[2016-11-07 14:58] ayaleloehr commented on #459
duplicate of https://github.com/department-of-veterans-affairs/vets-website/issues/3761

[2016-11-07 15:26] ayaleloehr opened #460 "Pop up froze after entering username/password"
I do not know if this is a vets-website or vets-api issue, nor can I consistently reproduce it but it has happened once Friday and now once this morning.

On staging at 10:20AM Eastern this morning, after entering my username and password (before any 2FA prompt), the login popup window stayed open like this indefinitely:

![screen shot 2016-11-07 at 10 20 25 am](https://cloud.githubusercontent.com

[2016-11-07 15:28] jcmeloni commented on #460
I've seen this intermittently (< 5% of the time?) and with dev tools up it looks like something in the list is 302'ing.  Like Alex said, trying to login again always works.

[2016-11-07 15:44] aub commented on #460
Saw this error when it failed:

<img width="976" alt="screen shot 2016-11-07 at 10 43 37 am" src="https://cloud.githubusercontent.com/assets/2895/20064025/3383ffbc-a4d7-11e6-8ef5-e08c550ac3bb.png">

[2016-11-07 15:48] omgitsbillryan commented on #460
The url from the screenshot:

https://staging.vets.gov/auth/login/callback?token=9CxMn...

comes the final step of a successful login from the `vets-api` perspective:
[code]

[2016-11-07 17:47] kreek opened #462 "MVI Middleware"
Some pre/post processing like headers, parsing, and error handling in MVI requests should be moved to middleware.

[2016-11-07 18:28] kreek opened #464 "Split out MVI caching from user session"
Log out mean day long TTL user sessions will go away, cache the MVI response separately per day (but configurable TTL)

[2016-11-07 22:29] ayaleloehr commented on #460
For tracking purposes, this happened again in dev at 5:26PM eastern today.

[2016-11-07 23:55] omgitsbillryan commented on #460
I was able to root cause to a XHR request race condition. If the response from `/v0/user` beats the response from `/sessions/new?level=3` then the `state.verifyUrl` is read before it is ever set.

**Inside AuthApp.jsx (psuedo)**
[code]

Assigning to to @crwallace.

[2016-11-08 03:53] ayaleloehr commented on #103
Curious if this is happening since the switch to using the userToken. will leave open for a few more days to see if it happens again.

[2016-11-08 14:21] jcmeloni commented on #460
Good find, @omgitsbillryan !

[2016-11-08 14:53] crwallace opened #468 "Login having CORS issues in Production"
Login is in production behind http auth and some CORS issues are arising.

This is the error we are seeing.

[code]

The response had HTTP status code 401.

[2016-11-08 14:55] aub commented on #468
I bet this is because /sessions/new is behind basic auth but I can take a look now. We saw a similar issue before, and the CORS thing can be a red herring.

[2016-11-08 14:56] aub commented on #468
Oh, I see. The issue is that these endpoints cannot be behind HTTP auth.

[2016-11-08 15:09] #468 closed

[2016-11-08 15:10] crwallace commented on #460
Thanks everyone! We will address this today.

[2016-11-08 15:53] saneshark commented on #341
@ayaleloehr is it ok to remove the veterans-day label from this since its no longer required before 11/11 milestone?

[2016-11-08 15:53] #343 closed

[2016-11-08 15:56] saneshark commented on #103
Willing to bet that adding some minor caching as a future PR post veterans day will finally nip this one in the bud. Depending on the number of messages in a folder, it is a lot of parsing / processing that needs to take place, and thats assuming only a single request is necessary (could be longer with 250+ messages in a folder).

[2016-11-08 15:58] saneshark commented on #191
@omgitsbillryan this appears to have the veterans-day tag, please assign to me if you don't have the bandwidth before 11/11 and I'm happy to take a look.

[2016-11-08 16:00] saneshark commented on #346
This is going to require some refactoring of common exceptions I presume. I noticed you put the veterans-day label on this, but I'm worried about making this type of change so close to 11/11. Is this going to be imperative that we get it in before 11/11?

[2016-11-08 16:01] saneshark commented on #86
@ayaleloehr is it ok to move this into the backlog? We have some documentation already, it's just in a different repository and we could easily link to it for now if necessary. But this doesn't have the veterans-day label on it, so naturally it feels like lower priority and has been in my queue for quite some time.

[2016-11-08 16:03] omgitsbillryan commented on #191
You're right, re-assining to you.

[2016-11-08 16:14] crwallace commented on #458
@jcmeloni -- Yes this is not an api issue.

[2016-11-08 19:49] ayaleloehr commented on #341
After conversations with MHV team, this will be a nice to have and I still think we should do it, but it not being there isn't blocking launch, so removing `veterans-day` label

[2016-11-08 19:50] ayaleloehr commented on #346
Not imperative we get this in before Veterans day, so removing label. But higher priority than caching, so going to move it above that in the list.

[2016-11-08 19:56] ayaleloehr commented on #344
I believe this can be closed. @aub or @saneshark can you confirm?

[2016-11-08 20:01] #344 closed

[2016-11-08 20:01] aub commented on #344
Yep, I'm closing

[2016-11-09 14:36] ayaleloehr opened #476 "Statsd for Rx POST requests"
Can we count how many rxrefill POST requests we send via statsd?  This would let us answer the question "how many prescriptions were refilled on vets.gov"? This is where the API call actually gets made, if that's helpful: https://github.com/department-of-veterans-affairs/vets-api/blob/0b6982679b136397102f84305da133ce36072106/lib/rx/api/prescriptions.rb#L36

Ideally we will want more granular knowl

[2016-11-09 14:46] aub commented on #476
@jkassemi If you let me know what the name of the stat ought to be I can add the code to support it in no time.

[2016-11-09 18:29] saneshark commented on #191
I looked through the code in sessions_controller and with the way we're currently doing redirects, this PR can just be closed.

It's still unclear to me what would happen in the event that something goes wrong, raising an exception. For example, lets say a 500 error is raised while trying to persist the session to redis, this would go through the application_controller, and return JSON with a 500

[2016-11-09 18:34] saneshark commented on #191
@omgitsbillryan and @aub I've had side-bar conversations with you both. Please feel free to re-open this issue if you think it's necessary. I'll open a separate thread about improving specs as discussed above.

[2016-11-09 18:34] #191 closed

[2016-11-09 19:03] saneshark opened #480 "Improve Test Coverage around SessionsController"
This will be tricky since we'll need to build a Mock SAML IDP, but I think there is probably a ruby project somewhere that allows you to run your own IDP and we can hijack whatever helpers it uses or build from scratch if necessary.

The idea would be to have both negative and positive tests recorded and as close to 100% test coverage for sessions_controller that we can manage to get. It might be

[2016-11-09 19:04] greggersh commented on #480
I have a few SAML IDPs that can be used for testing/mocking.

[2016-11-09 22:19] plusjeff commented on #460
(Will move to vets-website)

[2016-11-09 23:06] omgitsbillryan commented on #416
Closing for now - we will use same keys for signing and encryption for nov 11

[2016-11-09 23:06] #416 closed

[2016-11-10 02:42] jcmeloni commented on #440
Closing merged and tested issue.  @robbiethegeek  please reopen if I did this prematurely -- trying to get a clean list in front of us.

[2016-11-10 02:42] #440 closed

[2016-11-10 02:43] jcmeloni commented on #415
@robbiethegeek Is there more work to be done on this or is this closeable?

[2016-11-10 02:44] jcmeloni commented on #398
Closing merged and tested issue.  @robbiethegeek  please reopen if I did this prematurely -- trying to get a clean list in front of us.

[2016-11-10 02:44] #398 closed

[2016-11-10 03:05] jcmeloni commented on #460
Moved to https://github.com/department-of-veterans-affairs/vets-website/issues/3887

[2016-11-10 03:05] #460 closed

[2016-11-10 03:17] jcmeloni commented on #458
Moved to https://github.com/department-of-veterans-affairs/vets-website/issues/3888.

[2016-11-10 03:17] #458 closed

[2016-11-11 05:26] jkassemi commented on #476
Open for suggestions, but how about `api.prescriptions.refill.request.succeeded` `api.prescriptions.refill.request.failed`? `<app>-<component>-<target>-<action>-<status>`.

[2016-11-13 06:48] jkassemi opened #508 "Facilities locator should use timeouts/retries for external service integrations"
We experienced an increased error rate from the facility locator API that triggered a PagerDuty alert. This issue has since resolved itself. I tracked this down to timeouts communicating with the ArcGIS endpoints from requests made with the Facilities client (https://github.com/department-of-veterans-affairs/vets-api/blob/eb53033d96bb45ebd6e751c032ac6a1800015195/lib/facilities/async_client.rb).

I

[2016-11-13 06:51] jkassemi opened #509 "Contact information for ArcGIS external service integration"
We experienced an increased error rate from the facility locator API that triggered a PagerDuty alert. This issue appears to have resolved itself. I tracked down the ArcGIS status board (https://status.arcgis.com/), but this didn't indicate a history of problems.

Can we get documentation on who to contact in case we need support for this service during a potential outage?

[2016-11-13 17:40] patrickvinograd commented on #508
I see a couple instances of GIS queries with total_time=~120s, return_code=recv_error with subsequent queries piling up.
[code]

[2016-11-13 17:41] patrickvinograd commented on #508
TImeouts fell by the wayside when I switched to Typheous for parallel queries, but it looks like I can use Typheous as a Faraday adapter and integrate breakers that way.

[2016-11-14 01:10] ayaleloehr commented on #509
cc @NatalieEMoore

[2016-11-14 15:34] NatalieEMoore commented on #509
@jkassemi let me connect you with GeoBISL.

[2016-11-14 16:58] ayaleloehr commented on #476
Sounds reasonable to me!

[2016-11-14 19:19] akainic opened #517 "Add daily numbers to edu daily report"
Currently we're only showing YTD. Also include daily numbers (additional column in report).

This might affect when we send the report (currently report is sent out at 3AM right after spool file is sent). If there the SFTP server is down, retries will push out when the report gets sent. If the file fails to get sent entirely that day, the report will not be sent.

Also add Leanna to the email.

[2016-11-15 15:20] ayaleloehr opened #523 "Users middle name passed as null when it doesn't exist"
Right now vets.gov.user+264@gmail.com has a middle name of `null` as you can see below.  This user does not have a middle name in ID.me or MVI. I believe we should pass the empty string to the front end instead of `null`. Thoughts?

![screen shot 2016-11-15 at 10 17 45 am](https://cloud.githubusercontent.com/assets/4719765/20311262/1bb7b30a-ab1d-11e6-82c3-25aabbcf951f.png)

[2016-11-15 16:59] robbiethegeek commented on #523
Looping in @crwallace is this a UI issue or an API issue?

[2016-11-15 17:52] omgitsbillryan commented on #523
In the `empty string` vs `null` debate, I lean towards team `null`.  Returning `null` is slightly more descriptive, in that, it means the API has no data on this attribute.  `empty string` could mean it was set intentionally as an `empty string`.

[2016-11-15 17:57] omgitsbillryan commented on #523
I tried getting the internet to tell me what to do and even _they_ seem split:
- http://softwareengineering.stackexchange.com/questions/120355/is-it-better-to-return-null-or-empty-values-from-functions-methods-where-the-ret

This could be a religious debaut but, so long as we are consistent in all our API's, I don't care very strongly either way.  That said, I still lean towards `null`.

[2016-11-15 18:15] carlmjohnson opened #525 "Service list not returning disability-claims for user Melvin Freeman"
STR:

Log in as Melvin Freeman, vets.gov.user+41@gmail.com on staging.vets.gov.

Expected result:

disability-claims in services list at /v0/users

Actual:

[code]

Notes:

User ID is currently `92bd1227f4da4dc9bba4955f1ab67d5a`.

[code]

[2016-11-15 18:19] lihanli commented on #517
the report will run each day and give yesterday's numbers, that way it won't miss the submissions that happen after the report is run

[2016-11-15 19:22] #525 closed

[2016-11-15 21:31] kreek opened #532 "MVI retry job"
If the MVI request fails on login the user can still continue. Trigger a job that retries MVI _n_ times with back-off and update the MVI cache if the job succeeds.

[2016-11-15 21:34] robbiethegeek commented on #532
@crwallace we are planning this... Please think about the way that the front end can retry if there is no va_profile

@aub anything that you can add since you are the queueing gentleman!

[2016-11-15 21:40] aub commented on #532
It does seem like 99.9% of the complexity is on the front end here. I suspect it'll be super easy to write the job, and sidekiq will automatically retry it, but is the client going to now poll back to see if MVI data has come through?

[2016-11-16 17:41] #517 closed

[2016-11-18 00:28] patrickvinograd opened #545 "Ensure sensitive data will not show up in Sentry consoles"
In particular API request parameters will show up in the console by default, so ensure any of those that should not be visible are scrubbed appropriately.

https://docs.sentry.io/learn/sensitive-data/

[2016-11-18 00:28] patrickvinograd commented on #545
Maybe fork this off into `*-team` repos to follow up per-app.

[2016-11-18 00:30] patrickvinograd commented on #545
Per above link this may be a Sentry config issue in which case turn this to a devops issue.

[2016-11-18 01:53] kreek commented on #532
Wondering if need front end logic in the first pass...
I was thinking on login we trigger an async job that, for LOA3 users, caches their MVI data. The job would only retry a couple of times. Then when the user gets to a page that requires MVI data it either has the data or it tries one more time (synchronously). Login would be faster as the MVI call is async, and services would also speed up as t

[2016-11-18 02:15] austin-martinez commented on #532
Currently the list of services available sent to the front end depends on checking the presence of MVI attributes. How will that list be constructed if the data from MVI is fetched asynchronously?

[2016-11-18 03:09] kreek commented on #532
@austin-martinez this will go in after the PR that gives MVI its own cache (so it can have a longer TTL than the user). Although the job is asynchronous it will run at login and cache the MVI data then.

When the user profile is requested the user serializer would hit the MVI cache to determine the allowed services. This is similar to what happens now except the MVI data is part of the user cache.

[2016-11-18 03:44] kreek commented on #532
@austin-martinez actually wait I may have lied 😁  testing this and because the user profile endpoint is returned right after the saml callback MVI will be hit (synchronously) any way, so no need to kick off a retry job unless that fails.

[2016-11-18 16:04] robbiethegeek commented on #415
@kreek we can close this now right?

[2016-11-18 16:06] robbiethegeek commented on #207
@omgitsbillryan @aub @kreek  this is done or completely stalled correct?

[2016-11-18 16:07] robbiethegeek commented on #86
seems like #479 is the PR for this?  Can we close this and track there?

[2016-11-18 16:09] robbiethegeek commented on #284
@omgitsbillryan this can be closed now right if not can you please add more steps / details of the remaining steps.

[2016-11-18 16:10] robbiethegeek commented on #273
@patrickvinograd can you please add more details / help me understand the priority  and LOE for this...

[2016-11-18 16:11] robbiethegeek commented on #203
What is this an admin panel for?

[2016-11-18 16:22] omgitsbillryan commented on #207
Stalled completed from my perspective.

[2016-11-18 16:35] ayaleloehr commented on #86
Would like to leave this open until that PR is merged so it doesn't get lost or we don't accidentally think it's already complete.

[2016-11-18 16:42] akainic commented on #203
For education benefits. Would allow education services members to do things like send an application to a different RPO or check on the status of an application (I think, @markolson can correct me if wrong).

[2016-11-18 17:03] markolson commented on #203
Yep, for forms we need a way to handle situations where the form may need to be pulled down again, or viewed by someone in a call center or processing office.

[2016-11-18 18:20] robbiethegeek opened #551 "Perform Route Audit"
Please start tracking the documents

[2016-11-18 18:34] patrickvinograd opened #552 "Add "Current as of" data to facility API."
See https://github.com/department-of-veterans-affairs/vets-website/issues/4034 - need to incorporate this into the facility API model.

[2016-11-18 19:23] aub commented on #207
We've talked about this a lot, both here and in a PR generated from this issue. There are a number of different approaches, and while they all have some merit I'm partial to the one that works perfectly well while requiring the least work and the least maintenance. If we go without versions in the Gemfile then we incur very little risk because the gems are locked and because code review would pres

[2016-11-18 19:23] #207 closed

[2016-11-18 19:58] omgitsbillryan commented on #284
@robbiethegeek this issue came _as a result_ or the merged PR and cannot be closed.  I think the OP still applies and no new steps are needed.

[2016-11-18 20:02] omgitsbillryan commented on #551
@robbiethegeek can you be a little more specific? I'm not sure what kind of deliverable you're looking for. and for which routes.

[2016-11-18 21:13] #415 closed

[2016-11-18 21:20] kreek opened #555 "Remove active_status from user.va_profile"
In the early days of MVI thought this was the user's status, but it's actually their MVI record status so it doesn't need to be part of the 'VA Profile' sent to the front-end.

[2016-11-18 21:43] patrickvinograd commented on #273
12 factor gem is described here: https://github.com/heroku/rails_12factor

Since vets-api does not serve any assets the only functional change is logs going to standard out instead of production.log. We are already redirecting standard out to a file and capturing both that and production.log to cloudwatch, but in the future this will give us flexibility to use some other log aggregation tool and s

[2016-11-18 22:08] robbiethegeek commented on #551
1. rake routes
2. check the [api/docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/docs/api) folder
3. update this issue with a table of the routes and the mappings to the markdown files there
4. Please note if there is a missing file for the route
5. Assign to @jcmeloni and @robbiethegeek
6. 🎈 🎉 🍻

[2016-11-18 22:22] patrickvinograd commented on #273
LOE is just adding rails_12factor to Gemfile.

[2016-11-19 01:52] ayaleloehr commented on #523
Given the belief that this is a front end issue, I opened a corresponding issue in vets-website: https://github.com/department-of-veterans-affairs/vets-website/issues/4048

[2016-11-19 03:01] ayaleloehr commented on #476
Closed via https://github.com/department-of-veterans-affairs/vets-api/pull/541

[2016-11-19 03:01] #476 closed

[2016-11-21 19:30] akainic commented on #249
Code is there, needs better documentation. Also need to change the filename of the spool file so that we can do multiple submissions per day.

[2016-11-21 19:32] akainic commented on #249
Work happening week of 11/21, but not deploying to production that week.

[2016-11-21 23:57] kreek opened #563 "Parse 500 response and retry on SAML metadata failure"
We attempt to load SAML metadata from id.me once on app startup. If this fails the app will throw the following error:

`REXML::ParseException: Missing end tag for 'meta' (got "head")`

1. Get an example 500 from id.me
2. Add logic to parse a possible 500
3. Retry _n_ times (3? this could be configurable)

[2016-11-22 00:05] kreek commented on #563
adding stack trace:

[code]

[2016-11-22 15:39] crwallace opened #564 "Getting 500 when hitting /user after DS Logon"
This is related to department-of-veterans-affairs/vets-website#3887.

After login in using a DSLogon test account, I am able to successfully get a token and when I try to use that token on `/user` I get a 500 back.

This is what I am seeing in my console:
[code]
[code]
After talking with @omgitsbillryan, he believes this is most likely an MVI issue.

[2016-11-22 18:30] #564 closed

[2016-11-28 18:28] kreek commented on #532
Closing this for now, will revisit if MVI triggers a breakers outage.

[2016-11-28 18:28] #532 closed

[2016-11-28 18:29] kreek commented on #409
Fixed and merged.

[2016-11-28 18:29] #409 closed

[2016-11-28 18:30] kreek commented on #462
Fixed by https://github.com/department-of-veterans-affairs/vets-api/pull/558

[2016-11-28 18:30] #462 closed

[2016-11-28 18:30] kreek commented on #464
Fixed by https://github.com/department-of-veterans-affairs/vets-api/pull/539

[2016-11-28 18:30] #464 closed

[2016-11-28 18:31] kreek commented on #523
Covered by department-of-veterans-affairs/vets-website#4048

[2016-11-28 18:31] #523 closed

[2016-11-28 18:32] kreek commented on #555
Fixed by https://github.com/department-of-veterans-affairs/vets-api/pull/560

[2016-11-28 18:32] #555 closed

[2016-11-29 18:34] omgitsbillryan commented on #551
| Verb | Route | Doc |
|------|-------|-----|
GET    | /saml/metadata | N/A - For use by SAML SP
GET    | /auth/saml/logout |
POST   | /auth/saml/callback | N/A - For use by SAML SP
POST   | /v0/sessions/saml_callback | N/A - For use by SAML SP
POST   | /v0/sessions/saml_slo_callback | N/A - For use by SAML SP
GET    | /v0/sessions/new | [login](https://github.com/department-of-veterans-affairs/ve

[2016-11-30 04:16] NatalieEMoore commented on #509
can I close this @patrickvinograd @jkassemi ?

[2016-11-30 15:28] jkassemi commented on #509
Still haven't gotten word back from Michael. I reached out again today to try to schedule a meeting.

[2016-11-30 16:12] NatalieEMoore commented on #509
Can you join our call on Thursday and I'll add it as an agenda item?

[2016-11-30 16:38] jcmeloni commented on #563
@robbiethegeek is this something planned for active working? if so, what tags do we need here to surface that?

[2016-11-30 17:04] kreek commented on #563
@jcmeloni fixed by https://github.com/department-of-veterans-affairs/vets-api/pull/569

[2016-11-30 17:04] #563 closed

[2016-11-30 18:12] #459 closed

[2016-11-30 18:13] jcmeloni commented on #311
@robbiethegeek We're through fiddling with this, right? Can close?

[2016-11-30 18:36] robbiethegeek commented on #311
I assigned to @omgitsbillryan to review and close

[2016-11-30 18:37] omgitsbillryan commented on #311
I will take a look today.

[2016-11-30 20:29] markolson opened #580 "Create HCA Submission endpoint"
The route should accept a POST of JSON data at `api/v0/education_benefits_claims`, and return a success or failure message based on a call to the submission code, which will live elsewhere and can be stubbed out for this work.

Changing the url to this (from `/api/hca/v1`) will require a change on the frontend when we go live.

[2016-11-30 20:31] markolson opened #581 "HCA submission transformation logic"
HCA's current submission->final-structure logic lives in [enrollment-system.js](https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/server/enrollment-system.js). This logic, as well as supporting tests, should be ported over to vets-api. It should expose a single method accepting a ruby hash, and return a ruby hash.

[2016-11-30 20:33] markolson opened #582 "Construct and Send SOAP requests for HCA"
Existing healthcare application code makes use of a library to transform JSON data into an XML document and send it over by a SOAP request to the final endpoint. Investigate current SOAP practices in vets-api, and determine if using a library is needed.

[2016-11-30 23:05] omgitsbillryan commented on #311
I think it's OK to default to `level=1` in the event that an invalid level is supplied.  PR: https://github.com/department-of-veterans-affairs/vets-api/pull/583

`level` is whitelisted to 1 or 3 FWIW.

[2016-11-30 23:05] #311 closed

[2016-12-01 15:47] akainic commented on #580
@markolson I'm assuming you mean `api/v0/health_care_application`? Is that an okay name for the route?

[2016-12-01 21:17] austin-martinez opened #586 "Facility Locator exception raising error"
One of the error refactors broke how facility locator raises errors
http://sentry.vetsgov-internal/vets-gov/platform-api-production/issues/284/

[2016-12-01 21:37] saneshark commented on #586
I thought I'd tested this, ughh... This one's on me. I think @patrickvinograd has a fix for this in his upcoming PR but not sure if that's ready for prime time just yet.

[2016-12-01 21:49] saneshark commented on #86
API docs have been moved. Closing.

[2016-12-01 21:49] #86 closed

[2016-12-01 21:51] saneshark commented on #346
I'm currently working on this issue as part of this PR: https://github.com/department-of-veterans-affairs/vets-api/pull/585

[2016-12-02 01:07] patrickvinograd commented on #586
Fixed by #589

[2016-12-02 01:07] #586 closed

[2016-12-02 01:11] patrickvinograd commented on #509
At present the only insight GeoBISL team has to arcgis.com is the public status board: http://status.arcgis.com

They have a meeting scheduled sometime in the next week with either ESRI or with somebody else at VA who manages the account, and I asked them to find out if there is any additional escalation path or support contact.

[2016-12-02 17:16] patrickvinograd commented on #552
Fixed in #589. Added services -> last_updated key, which is populated for VHA only.

[2016-12-02 17:16] #552 closed

[2016-12-02 22:54] #580 closed

[2016-12-05 19:18] akainic commented on #249
Work has been deployed, will learn more once an actual re-direct is requested us of. Will close for now.

[2016-12-05 19:18] #249 closed

[2016-12-09 15:08] leannammiller commented on #203
hey @markolson - has there been any movement on this? do we have a sense of the priority of this?

[2016-12-09 15:39] markolson commented on #203
No movement on this, and since we've been live for a while and have had no requests for it's functionality, I'd say it can remain low priority.

[2016-12-09 22:35] #581 closed

[2016-12-16 05:18] omgitsbillryan commented on #545
@patrickvinograd  Is this still an issue?

We have whitelist log filtering within `vets-api` now: https://github.com/department-of-veterans-affairs/vets-api/commit/823284d358706d3d23d877911198186bc4bbc180

[2016-12-16 16:47] patrickvinograd commented on #545
This was less about logs and more about things like query parameters showing up in stack traces in Sentry, but I think that has been addressed as well.

[2016-12-16 16:47] #545 closed

[2016-12-16 16:48] patrickvinograd commented on #509
We did not get any follow-up about escalation paths. I did document what details we have for both GeoBISL and ESRI in the appropriate location in the devops repo.

[2016-12-16 16:48] #509 closed

[2016-12-16 17:13] omgitsbillryan commented on #299
@robbiethegeek is this placeholder still relevant?

[2016-12-17 06:54] patrickvinograd opened #637 "Handle nil collection data from empty response body in rx client/controller"
See
    https://dsva.slack.com/archives/oncall/p1481955474000502
and
    http://sentry.vetsgov-internal/vets-gov/platform-api-production/issues/395/

It looks like this is caused by `Common::Collections @data` being nil. Working backwards, I suspect this is caused by an empty response body from the MHV endpoint, which the json_parser middleware would do `Oj.load('')` which results in `nil`. But th

[2016-12-19 17:21] saneshark commented on #637
I will try to recreate this and push up a patch, i think the error should have been raised in pagination but having a better error in Common::Collection would be helpful to debug as well.

[2016-12-19 17:33] saneshark commented on #346
@ayaleloehr What's the priority on this? Do we have updated language we would prefer to use for when this error is encountered?

My PR to change the language for this type of MHV error has been merged, should be able to customize the message to our hearts content. Feel free to close this comment or re-assign to me with a prioritization when you get a chance.

[2016-12-19 23:48] omgitsbillryan commented on #480
@saneshark I _don't_ like the idea of running our own separate IDP since it creates an external dependency on unit tests that should be able to run in a vacuum.  I _do_ like the idea of using `VCR` since right now we have some clumsy method stubs that are basically trying to mock out API requests.  The only challenge I foresee is the fact that we use a different SP cert for each environment; `dev`

[2016-12-19 23:49] omgitsbillryan commented on #480
@saneshark also, welcome to over a month later :smile: , care to update anything?

[2016-12-20 07:00] saneshark commented on #637
PR is up: https://github.com/department-of-veterans-affairs/vets-api/pull/643

[2016-12-20 17:35] ayaleloehr commented on #346
This is too vague of an issue and i don't have specific things that need action here, so going to close. If there are going to be specific errors we need to change messages for, we should open separate issues.

[2016-12-20 17:35] #346 closed

[2016-12-21 15:31] axle07 commented on #300
@robbiethegeek can you provide a little more detail? I'd love to contribute.

[2016-12-21 16:05] robbiethegeek commented on #300
Thanks for reaching out, please review the README.md for info about the contribution policy:
https://github.com/department-of-veterans-affairs/vets-api/blob/master/README.md

[2016-12-21 20:28] axle07 commented on #300
Cool. Is there any more specification regarding this UI (how it should
look, where it should live)?

On Wed, Dec 21, 2016 at 10:05 AM Robbie Holmes <notifications@github.com>
wrote:

[2016-12-27 22:03] jkassemi opened #654 "Throw an exception when SAML response indicates clock drift"
@omgitsbillryan found a number of instances of

[code]

in the vets-api logs. These errors appear to go back to at least 2016-12-11, and were due firewall configuration errors preventing NTP server communication. These were repaired in https://github.com/department-of-veterans-affairs/devops/pull/1316.

Logging these errors to Sentry would provide more visibility in the future. The alternative is

[2016-12-28 14:47] #637 closed

[2016-12-28 18:58] omgitsbillryan commented on #654
PR Open : https://github.com/department-of-veterans-affairs/vets-api/pull/655

[2017-01-03 17:37] leannammiller commented on #582
is #660 part of this @markolson ?

[2017-01-03 17:49] markolson commented on #582
Yes. This will be completed with 660

[2017-01-03 19:39] leannammiller commented on #582
plus testing

[2017-01-05 17:37] jcmeloni commented on #74
@jkassemi @aub Anything left to do here?  If so, is it best to be an issue in the devops repo? (we are trying to clean up issues)

[2017-01-05 17:38] jcmeloni commented on #76
@jkassemi Anything left to do here (assuming probably so)?  If so, is it best to be an issue in the devops repo? (we are trying to clean up issues)

[2017-01-05 17:38] jcmeloni commented on #99
@markolson Anything still to do here? (we are trying to clean up issues)

[2017-01-05 17:39] jcmeloni commented on #103
@saneshark @ayaleloehr Anything left to do here? (we are trying to clean up issues)

[2017-01-05 17:40] jcmeloni commented on #179
@saneshark @ayaleloehr What are we still doing here, given we're past launch :) (we are trying to clean up issues)

[2017-01-05 17:41] jcmeloni commented on #188
@patrickvinograd Still doing something here or have these been taken care of? (we're trying to clean up issues)

[2017-01-05 17:42] jcmeloni commented on #273
@patrickvinograd Has this been done/does it still need to be done? (we're trying to clean up issues)

[2017-01-05 17:42] jcmeloni commented on #274
@kreek What are you still doing with this? (trying to clean up issues)

[2017-01-05 17:43] jcmeloni commented on #284
@omgitsbillryan @robbiethegeek How can we get this closed up? Anyone have suggestions for Bill's PR re: being DRYer?

[2017-01-05 17:44] jcmeloni commented on #299
Closing - we have a discovery ticekt for this in team repo

[2017-01-05 17:44] #299 closed

[2017-01-05 17:44] jcmeloni commented on #300
Closing issue - we have a discovery ticket in team repo.

[2017-01-05 17:44] #300 closed

[2017-01-05 17:44] aub commented on #74
It sounds like the implementation should be in vets-api, so let's leave it here for the moment. @jkassemi this is the first I've heard of this, but it seems doable. Are there any updates since it was originally filed?

[2017-01-05 17:52] patrickvinograd commented on #188
This is done. Closing.

[2017-01-05 17:52] #188 closed

[2017-01-05 17:53] patrickvinograd commented on #273
Not done yet. Still desirable. I can knock it out today, but let me confirm with other devops people that there's no downstream impact, there is some log processing work going on.

[2017-01-05 17:54] jcmeloni commented on #508
@patrickvinograd Is this closeable since the PR referenced above is merged?

[2017-01-05 17:55] jcmeloni commented on #654
@omgitsbillryan Can this be closed since the PR is merged?

[2017-01-05 17:57] akainic commented on #99
This is done!

[2017-01-05 17:57] #99 closed

[2017-01-05 17:58] jkassemi commented on #76
@jcmeloni - this is likely to be a long-standing work in progress. I'll make a note to break this out and add tickets for information we're still lacking.

[2017-01-05 17:58] #76 closed

[2017-01-05 18:00] #508 closed

[2017-01-05 18:14] ayaleloehr commented on #103
I think this is working better. Someone can reopen if they disagree.

[2017-01-05 18:14] #103 closed

[2017-01-05 18:14] ayaleloehr commented on #179
Leaving this one to @saneshark .

[2017-01-05 18:40] omgitsbillryan commented on #654
@jkassemi, as per [merged PR 655](https://github.com/department-of-veterans-affairs/vets-api/pull/655) we now log a Sentry message every time a login attempt fails for any reason (which includes clock drift) - does this suffice to close this issue?

I ask because in this issue, it looks like you wanted to look for clock drift _explicitly_.

[2017-01-05 18:50] jkassemi commented on #654
Looks good, thanks! This is what I had in mind.

We'll do clock drift monitoring in https://github.com/department-of-veterans-affairs/devops/issues/1318 with associated alerts.

[2017-01-05 18:50] #654 closed

[2017-01-05 18:54] jkassemi commented on #74
RX, SM, MVI, EVSS, and Facility Locator services are all properly configured with timeouts. We haven't seen any requests exceed 10s in recent history, so I think we're well set here.

None of these services provide SLAs, so it's not feasible to tie the timeout values to them.

[2017-01-05 20:40] #273 closed

[2017-01-05 21:10] omgitsbillryan commented on #284
PR has been merged.

[2017-01-05 21:10] #284 closed

[2017-01-06 14:26] jcmeloni commented on #551
Closing this and rolling the info into https://github.com/department-of-veterans-affairs/vets.gov-team/issues/555

[2017-01-06 14:27] #551 closed

[2017-01-06 18:12] U-DON opened #684 "Enable filtering by recipient name"
Currently, folder messages can be filtered by `sender_name`, `sent_date`, and `subject`. For folders like 'Drafts' and 'Sent' where the user is always the sender, it would be more valuable to be able to filter on `recipient_name`.

`/healthcare/messaging/drafts?filter[[recipient_name][match]]=clinician`

[2017-01-06 23:41] kreek commented on #274
@jcmeloni this is ready to test in dev, but was waiting to see if an environment outside the CI pipeline got set up so I could test it for more than 24hrs before it hit prod. Also overlaps with some of the uuid logging in https://github.com/department-of-veterans-affairs/vets.gov-team/issues/556.

[2017-01-07 00:30] U-DON commented on #684
Never mind, it seems to be working.

[2017-01-07 00:30] #684 closed

[2017-01-09 02:36] jcmeloni commented on #74
Closing based on @jkassemi 's comment.

[2017-01-09 02:36] #74 closed

[2017-01-12 14:25] markolson commented on #582
Code has been merged. Making a new ticket for additional automated tests.

[2017-01-12 14:25] #582 closed

[2017-01-17 11:03] saneshark commented on #179
Closing this for now. I am nearly certain our endpoints are not consistent, but our controllers are also v0, perhaps when we approach a v1 and are out of beta, this will be more important.

[2017-01-17 11:03] #179 closed

[2017-02-18 01:58] saneshark commented on #480
So it was specifically around the SAML SLO that I thought it might be worth while to have some coverage, but seems like we've gone without issue on that for quite some time now. I won't make the call to close this issue though since I'm not on core really anymore. Feel free to close if you want @omgitsbillryan

[2017-04-18 06:44] saneshark commented on #341
See also #342 -- would like to prioritize this before MHV June release or whenever the email notifications for Rx are supposed to start going out.

[2017-04-28 12:09] ayaleloehr commented on #274
@kreek should this be closed?

[2017-04-28 12:10] ayaleloehr commented on #480
@saneshark @omgitsbillryan should this be closed?  or moved to vets.gov-team and labeled properly?

[2017-04-28 12:11] ayaleloehr commented on #203
@J-Quag if this is something on the roadmap, can you move it to vets.gov-team? (or just close?)

[2017-04-29 20:44] #480 closed

[2017-05-02 13:26] J-Quag commented on #203
Opening new ticket in Vets.gov-Team. Closing this.

[2017-05-02 13:26] #203 closed

[2017-07-10 18:35] leannammiller commented on #341
@saneshark can you please estimate this?

[2017-07-10 18:35] leannammiller commented on #342
@saneshark please estimate

[2017-08-01 02:37] saneshark commented on #341
@ayaleloehr I went ahead and did the work on this, I've currently got Rx cached at 10 hours in my PR, why exactly does it need to be 1 hour? The reason I ask is, Rx data is only refreshed by MHV every 24 hours, we could easily get away with a longer lived cache, but I guess it would require further IAM approval?

[2017-08-01 13:08] ayaleloehr commented on #341
A brief look at our Privacy Impact Assessment (PIA) shows that we don't have caching prescription data in there currently.  (see section 3.2, on pages 27 and 28 of [PIA_vets.gov 20170620_signed.pdf](https://github.com/department-of-veterans-affairs/vets-api/files/1190644/PIA_vets.gov.20170620_signed.pdf))

I believe that to start caching this data, we will need to update the section under "for 24

[2017-08-01 19:29] saneshark commented on #342
estimated at 5 hours of coding, but we will probably maybe want to do regressions too.

The PR for Prescriptions is much easier / safer than this one. If that one can get launched first, then I'll have more confidence in the approach and this one will be easier.

[2017-08-02 11:57] leannammiller commented on #341
@saneshark what is the status of this?

[2017-08-15 11:34] saman7352 commented on #342
#342

[2017-08-15 11:36] saman7352 commented on #341
#342

[2017-08-15 14:43] leannammiller commented on #342
Hi @saman7352 - this a new username for me. Are you on the Vets.gov team?

[2017-08-30 16:25] NatalieEMoore commented on #341
any update on this @saneshark

[2017-09-27 16:57] leannammiller commented on #341
@brianheckethorn please follow up here

[2017-11-07 01:19] raquelromano-gov opened #1511 "Replace httpclient with Net::HTTP for EVSS services"
Pasting @kreek 's suggestion in [1496](https://github.com/department-of-veterans-affairs/vets-api/pull/1496) for how to get around the capitalization issues

---

An alternate solution may be to fix why we use `httpclient` for EVSS in the first place. `Net::HTTP` capitalizes headers, this is a problem for services like EVSS that don’t follow the w3 spec that field names should be case-insensitive.

[2017-11-07 01:42] kreek commented on #1511
Issue moved to [department-of-veterans-affairs/vets.gov-team #5820](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/5820) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-07 01:42] #1511 closed

[2017-12-07 07:50] jkassemi commented on #341
@leannammiller do you know if Brian followed up here?

[2017-12-07 16:05] leannammiller commented on #341
He sure didn't @jkassemi. I will add this to the list of things that need to be updated in our PIA/PTA.

[2017-12-12 02:24] raquelromano-gov commented on #341
Moving this to https://github.com/department-of-veterans-affairs/vets.gov-team/issues/6699 and closing here.

[2017-12-12 02:24] #341 closed

[2017-12-14 02:21] raquelromano-gov commented on #342
Replaced by https://github.com/department-of-veterans-affairs/vets.gov-team/issues/6699

[2017-12-14 02:21] #342 closed

[2018-01-03 16:40] omgitsbillryan opened #1633 "Set Maximum Session Duration to 12 hours"
The current maximum session length is _roughly_ 12 hours but it should be _exactly_ 12 hours.

### Context
A `Session` Redis object get's extended by 1 hour every time an authenticated API call is made (an API call with a valid `Authorization: Token token=abcd1234...` header).  The 1-hour-extension will only occur up to the 11h59m mark.  At 12 hours, the extension _does not_ occur but the `Session

[2018-01-03 16:43] omgitsbillryan opened #1634 "X-Session-Expires Response Header"
Return a response header with every authenticated API call that indicates the maximum theoretical session duration remaining up to a maximum of 12 hours.  A name `X-Session-Expires` was chosen but not set in stone.

- [ ] Data type for response value is agreed upon
- [ ] Response header exists for every API call

[2018-01-03 16:44] #1634 closed

[2018-01-03 16:45] #1633 closed

[2018-08-28 18:26] abhijitvk opened #2242 "uninitialized constant EMIS::Models::DeploymentLocation"
@djmunoz1 @lihanli : While testing pre-fill information for the new form 4142 locally, I came across an error as below

Rails -- uninitialized constant EMIS::Models::DeploymentLocation.
14:30:37 web.1  | 2018-08-27 14:30:37.083924 E [10:69928254381580 sentry_logging.rb:42] [[]] Rails -- /src/vets-api/lib/emis/responses/get_deployment_response.rb:24:in `item_schema'
14:30:37 web.1  | /src/vets-api/

[2018-08-28 18:43] abhijitvk commented on #2242
@lihanli @djmunoz1 : Please do hold off on this issue. It seems that just renaming it won't be solve the issue as we use the model with  'emis/models/deployment'. I will close the issue for now, if needed will create a new one.

[2018-08-28 20:03] #2242 closed

[2018-11-13 21:19] annaswims opened #2570 "Cache MVI failures for a short time"
We call MVI multiple times per user request, therefore when MVI is failing our request count goes up quickly.  Because we are currently caching successes for a long time and retrying failures multiple times per minute, breakers is more likely to trigger.  This significantly reduces the chance that a single user can trigger a breakers outage.  Additionally, it's unkind to increase our request count

[2018-11-15 19:10] r1amyuni opened #2579 "Test Case & Test Execution for story 14528 -"
Assumptions:
1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #14528 are closed.
3. Any defects that remain open after this issue and #14528 are closed do not result in failed acceptance criteria.

Acceptance Criteria:
1. All test cases have been documented that are required to ensure that acceptance criteria for #14528 are met.
1a.

[2018-11-20 18:05] r1amyuni opened #2602 "Test Case & Test Execution for Story 13953 - Form 21-0781/0781a: Additional Events or Situations"
Assumptions:
1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #13953 are closed.
3. Any defects that remain open after this issue and #13953 are closed do not result in failed acceptance criteria.

Acceptance Criteria:
1. All test cases have been documented that are required to ensure that acceptance criteria for #13953 are met.
1a.

[2018-11-20 18:08] #2602 closed

[2018-11-23 18:20] r1amyuni opened #2607 "Test Case and Test Execution for story 14935 - Form 0781: Individuals Involved"
Assumptions:
1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #14935 are closed.
3. Any defects that remain open after this issue and #14935 are closed do not result in failed acceptance criteria.

Acceptance Criteria:
1. All test cases have been documented that are required to ensure that acceptance criteria for #14935 are met.
1a.

[2018-11-23 18:20] #2607 closed

[2018-11-28 19:14] r1amyuni opened #2614 "Test Case and Test Execution for story 15314 - Form21-0781: Ability to populate Additional Events - description"
Assumptions:
1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #15314 are closed.
3. Any defects that remain open after this issue and #15314 are closed do not result in failed acceptance criteria.

Acceptance Criteria:
1. All test cases have been documented that are required to ensure that acceptance criteria for #15314 are met.
1a.

[2018-11-28 19:21] #2614 closed

[2018-11-29 04:14] annaswims opened #2619 "Upgrade sentry gem for veterans-employment-center"
We're likely going to be upgrading the Sentry server to version 9.0.  Before we do that, we're want to upgrade the sentry clients for all projects, to the most recent version, prior to the release of our current version.  That is, the gem 2.7.4 is the most recent version before sentry server 8.13 was released.

[2018-11-29 04:16] annaswims commented on #2619
closing. wrong repo

[2018-11-29 04:16] #2619 closed

[2018-12-04 14:29] ethanteague opened #2638 "make up fails to build"
[code]
I'm not on OS (Ubuntu).

[2019-01-14 18:16] dmccurdybah opened #2725 "PDF Fill - Form value string data is always formatted as date"
PDF form string data containing date information is formatted as a date which can result in lost data.

Form data is converted in `hash_converter.rb`, and the `convert_val_as_string` method attempts to split every string on `-` and only checks if the result is a valid date.

This means that a value like "Treatment was between 1995-1-1 and 1996-1-15" will be converted to "01/01/0000".

[2019-01-14 23:14] tskinn opened #2732 "Remove deployment_verification config for prometheus"
In the current state all prometheus deployments will appear to fail because of the `deployment_verification` in ansible not being able to ssh into the instances from Jenkins due to security group updates.

Temporarily remove the `deployment_verification` until we have established a more permanent solution.

For more context you can review the postmortem https://github.com/department-of-veterans-af

[2019-01-14 23:22] tskinn commented on #2732
Thanks a lot zenhub. You've embarrassed me for the last time!

[2019-01-14 23:22] #2732 closed

[2019-01-14 23:23] tskinn opened #2733 "Remove deployment_verification config for prometheus"
In the current state all prometheus deployments will appear to fail because of the deployment_verification in ansible not being able to ssh into the instances from Jenkins due to security group updates.

Temporarily remove the deployment_verification until we have established a more permanent solution.

For more context you can review the postmortem department-of-veterans-affairs/vets.gov-team#162

[2019-01-18 18:54] annaswims opened #2746 "update authentication documentation"
The documentation in https://github.com/department-of-veterans-affairs/vets-api/blob/master/docs/setup/authentication_with_idme.md
refers to token authentication and we need to update it to refer to cookies.

[2019-01-30 17:16] annaswims opened #2771 "successful login attempt after failed login attempt will return user to error page."
## Issue description
If a user has a failed login attempt, and gets redirected to the error page (https://staging.va.gov/auth/login/callback?auth=fail&code=001) and then makes another successful login attempt they will be returned to their previous page, which is the error page, even though their login worked.

#### Steps to reproduce:
* go to https://staging.va.gov/auth/login/callback?auth=fail&c

[2019-01-30 17:17] #2771 closed

[2019-02-07 18:56] kfrz opened #2798 "Upgrade va-api to Rails 5"
## Background
Discussion of upgrading the API to Rails 5 occurred in [this PR](https://github.com/department-of-veterans-affairs/vets.gov-team/pull/16530) and associated [RFC](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Work%20Practices/Engineering/RFCs/Upgrade%20Path%20for%20Ruby%20&%20Rails.md)

This epic exists to track the work related to upgrading Rails from 4

[2019-02-07 19:30] kfrz commented on #2798
opening in vets.gov-team

[2019-02-07 19:30] #2798 closed

[2019-02-13 16:57] annaswims opened #2814 "Handle Current time is on or after NotOnOrAfter condition errors (error code 002)"
If a user successfully logs in and then 5 (or more) minutes later uses the back button to go to the page before the successful login, the API receives an old SAML Response. I propose that if a user has a current session and hits the `saml_callback` action with the old SAML Response we make no changes to the user's session/cookie and allow them to continue using the site.  I believe (and will confi

[2019-02-13 21:01] annaswims commented on #2814
closing.  moved to https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/16917

[2019-02-13 21:01] #2814 closed

[2019-02-15 20:00] saneshark commented on #2746
I think @kreek has done some of work with simplifying cookie based testing using a rake task, perhaps the instructions could include details related to that.

[2019-03-18 21:24] saneshark opened #2889 "Cleanup Session Cookie feature toggle code"
When we launched session cookies, we did it with feature toggling. Now that its implemented, there is no plan to revert back and the code is too far along to even consider doing it at this point, so its time to do a little cleanup.

Removes the feature toggle stuff from vets-api
https://github.com/department-of-veterans-affairs/vets-api/pull/2884

Remove the feature toggle flag from the ansible se

[2019-03-18 21:25] saneshark commented on #2889
Closing out 2885 is not enough to close this ticket. Need to also update the devops ansible configs.

[2019-04-15 18:28] BBarone1 commented on #2746
moved this to a planning issue here  #17961

closing

[2019-04-15 18:28] #2746 closed

[2019-04-17 18:17] BBarone1 commented on #2889
@annaswims updated ansible configs, this work is done

[2019-04-17 18:17] #2889 closed

[2019-06-11 15:59] dogweather commented on #2725
Resolved by #2722

[2019-06-11 15:59] #2725 closed

[2019-06-11 21:09] dogweather commented on #2638
I'm closing for now. If you're still having the problem, please tell us a little more about your system. `make up` is working for us.

[2019-06-11 21:09] #2638 closed

[2019-06-13 20:09] edmangimelli opened #3110 "Correcting the Appeals Status API documentation"
After reading through the documentation for the Appeals Status API

https://developer.va.gov/explore/benefits/docs/appeals

( vets-api/modules/appeals_api/README.yml )

it looks like it needs to be updated to fix a mistake in the description of the return data for the appeals status endpoint.

The description of that endpoint in appeals_api/README.yml indicates that the data attribute would always

[2019-09-13 17:34] #140 closed

[2019-09-13 17:34] #2579 closed

[2019-09-13 20:58] bastosmichael commented on #3110
This should probably exist in vets-contrib instead of here.

[2019-09-26 05:48] edmangimelli commented on #3110
moving this to vets-contrib (zenhub)

[2019-09-26 05:48] #3110 closed

[2019-11-13 19:09] jcosta-gcio opened #3544 "Add Repository to screenful Dashboard"
Need to create an issue in order to add this repository to the Screenful Dashboard

[2019-11-13 19:12] jcosta-gcio commented on #3544
Repository added

[2019-11-13 19:12] #3544 closed

[2019-12-12 18:54] dependabot-preview[bot] opened #3637 "Dependabot couldn't authenticate with enterprise.contribsys.com"
Dependabot couldn't authenticate with enterprise.contribsys.com.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/department-of-veterans-affairs) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/department-of-veterans-affairs/update-logs/176134

[2019-12-17 23:03] #3637 closed

[2020-02-11 23:11] keithdadkins opened #3891 "Docker builds fail when clamav updates take too long"
`make build` fails when freshclam takes longer than 30 seconds to download updates from http://dsva-vetsgov-utility-clamav.s3-us-gov-west-1.amazonaws.com.

[code]

[2020-02-12 16:56] oddball-hk commented on #3891
Here's a work around I used to move the av db fetch up the chain and uses the downstream copy command to load the db, then the freshclam step isn't really required as the db is already current

https://github.com/whk-io/vets-api/blob/baked-clam/Dockerfile#L23

[2020-02-16 19:42] keithdadkins commented on #3891
#3892 closes this

[2020-02-16 19:42] #3891 closed

[2020-02-16 21:56] kfrz commented on #3891
@keithdadkins #3892 introduces an arbitrary timeout, which in comparison to @oddball-hk's [suggested solution](https://github.com/whk-io/vets-api/blob/baked-clam/Dockerfile#L23) of updating the `daily.cvd` like so:

`RUN curl -o /srv/vets-api/clamav/database/daily.cvd https://database.clamav.net/daily.cvd``

We'd sub out the AWS link but this seems like it eliminates the need for a long arbitrary

[2020-04-17 18:47] karlbrown-va opened #4154 "Consider alpha-sorting yml config files"
Currently, the yaml config files such as `settings.yml` are not sorted alphabetically - neither the keys, nor the values within those keys.

As a result, it is not easy to compare this `settings.yml` file with its equivalents such as
[this one](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/vets-api/prod-settings.local.yml.j2)

Doing a quick comparis

[2020-06-16 14:56] zachgoldfine44 opened #4393 "Typo in API documentation"
## [Benefits Claims API documentation](https://developer.va.gov/explore/benefits/docs/claims?version=current) --> POST forms/2122: "Accepts 2122 **_Power of_** Power of Attorney payload".

<img width="1176" alt="Screen Shot 2020-06-16 at 10 51 38 AM" src="https://user-images.githubusercontent.com/20099764/84790673-9ca69a80-afbf-11ea-9a0c-b92b7bda0632.png">

It looks like it's coming from line 58 o

[2020-06-16 14:56] zachgoldfine44 commented on #4393
@bastosmichael Let me know if I should be tagging someone else with this or submitting this in another way!

[2020-06-25 00:08] patrickvinograd commented on #4393
@zachgoldfine44 This repo doesn't house issues, generally. VFS issues go in va.gov-team, I'm not sure where Lighthouse-specific issues (of which this is one) are tracked these days.

[2020-06-25 03:56] zachgoldfine44 commented on #4393
Hey, @patrickvinograd ! What a pleasant surprise :-) I hope you're doing as well as can be expected right now.

And thanks for the pointer. I'll check in with the Lighthouse team, find the appropriate place, and move accordingly.

[2020-06-25 15:32] zachgoldfine44 commented on #4393
The Lighthouse team is tracking work in Jira. This issue is being picked up in this ticket: https://vajira.max.gov/browse/API-1332. Closing this issue.

[2020-06-25 15:32] #4393 closed

[2020-06-30 21:40] joejordan opened #4461 "vets-api-mockdata repository not found"
I am attempting to set up a local instance of the VA website and api, however the [instructions](https://github.com/department-of-veterans-affairs/vets-api/blob/master/docs/setup/native.md) point me to a repo that does not exist as part of the process: https://github.com/department-of-veterans-affairs/vets-api-mockdata

Either it's now private, moved, or was taken down. Either way, I am unable to

[2020-07-01 23:06] gunsch commented on #4461
Hey @joejordan --- that repo is private and will likely remain so (linked issue has details) for people not in the `department-of-veterans-affairs` GitHub org. You should be able to still build and run the website + API without it, though I think certain kinds of functionality and testing might not work. Can you share more about your use case?

cc @johnpaulashenfelter @f1337 as FYI

[2020-07-01 23:20] msimpson opened #4470 "Status-Override Persistence of VBADocuments::UploadSubmission"
When providing a `Status-Override` for a `VBADocuments::UploadSubmission` is the change in `status` meant to be persistent? There is a [`save` call on the `submission`](https://github.com/department-of-veterans-affairs/vets-api/blob/master/modules/vba_documents/app/controllers/vba_documents/v1/uploads_controller.rb#L34) after the change, but I am seeing the original status in the sandbox upon subs

[2020-07-06 13:59] ilopmar opened #4482 "Header names should be case-insensitve"
According to RFC 2616 - [Hypertext Transfer Protocol -- HTTP/1.1, Section 4.2, "Message Headers"](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)

But the implementation when uploading files as multipart/form checks that the headers are capitalized: https://github.com/department-of-veterans-affairs/vets-api/blob/master/modules/vba_documents/lib/vba_documents/multipart_parser.rb#L64

[2020-07-08 18:49] joejordan commented on #4461
@gunsch I was starting work on a tech challenge and wanted to see how things worked on the site behind the scenes, specifically the form builder. I do think that some mock data would be useful in getting a fuller view of the platform.

Unfortunately I was not able to get the site to build. Hit some snags on Windows with Node running out of memory. Made a few tweaks to the process in an attempt to

[2020-07-15 23:21] gunsch commented on #4461
Got it --- thanks for sharing, sorry to hear about you hitting those snags!

I agree that having mock data would help --- the tradeoffs for our existing data just don't work well, and we don't currently have a good way to generate/recreate that mock data either. It's something we hope to fix in the future but isn't in the cards at the moment.

[2020-07-15 23:21] #4461 closed

[2020-07-30 17:02] edmangimelli opened #4623 "Sometimes posting to a Benefits Claim endpoint without a payload returns a 500"
As an API consumer, I always want an empty POST to a claims endpoint to return a _422 malformed json error_ --not a 500.
Depending on the environment, not including a body will return a 422 or a 500.
Example curl with `-d` option (no payload):
[code]
^^^ this sometimes returns:
[code]

[2020-08-03 12:05] #4623 closed

[2020-09-03 16:54] annaswims commented on #4482
@charleystran Did you see this one?

[2020-09-25 00:35] grossb1 opened #4973 "Add parent_site parameter to direct booking call"

[2020-09-25 16:43] #4973 closed

[2020-09-30 16:34] thilton-oddball opened #5004 "External Service SLO Migration to DataDog"
Work with Ops to ensure the correct data points are accounted for during the initial DataDog Implementation.

[2020-10-05 17:08] #5004 closed

[2020-10-08 19:51] massrb opened #5055 "Generate swagger docs for the Health Quest Service"
## Tasks
- [x] Research swagger generation and how other modules/engines swaggers work
- [x] Generate swagger for the health quest service, make sure it is accessible and can be updated

## Acceptance Criteria
- [ ] The swagger is accessible from vets-api
- [ ] check the code into the main branch
- [ ] Have M. Dewey review it.

[2020-11-11 13:37] edmangimelli opened #5268 "Retry SubmitForm526 Jobs When They Have Multiple BIRLS IDs"
# tl;dr

Sometimes _SubmitForm526_ jobs fail because MPI (formerly MVI) has multiple active BIRLS IDs for the Veteran (we always just grab the first BIRLS ID ([IdParser](https://github.com/department-of-veterans-affairs/vets-api/blob/ae1a0da535fe7427b3936bf47c44c6de0fe53fff/lib/mvi/responses/id_parser.rb)))

I propose that, upon a jobs failure (exhaustion or non-retryable error), we check to see i

[2020-11-23 19:43] bosawt opened #5378 "Using bootsnap to reduce application startup time in development and test environments"
It seems that the application loads fairly slowly in development and tests. There's a well known gem called bootsnap that I've used before (and is part of Rails itself now, so it's safe), that generally speeds things up. If we don't want to risk changes in production, we could also implement this for test and development environments only. Here's an example of the speed differences when running ou

[2020-11-23 20:15] bosawt opened #5382 "Using jemalloc flag in our bundle Ruby version"
I haven't personally seen the memory footprint of our existing application, but I noticed we weren't using `jemalloc` flag in our version of Ruby.
( How do I know? If you try this one liner `bundle exec ruby -r rbconfig -e "puts RbConfig::CONFIG['MAINLIBS']"`, you should see `-ljemalloc` as a config option)

`jemalloc` is an alternate implementation of the underlying `malloc` memory allocation fun

[2020-12-09 16:28] f1337 commented on #5382
Thank you! I have no objections, but we should definitely make sure we loop operations into the convo, just in case they see anything weird pop up in their logs.

[2020-12-15 23:18] #5378 closed

[2020-12-30 14:59] annaswims commented on #5268
@edmangimelli is this the error we see when we have a bad birls id? https://github.com/department-of-veterans-affairs/va.gov-team/issues/11353

[2021-01-22 01:35] bosawt opened #5746 "Refactor create_daily_fiscal_year_to_date_report_spec so that it won't clash with a similar spec when run with parallel test suite"
create_daily_fiscal_year_to_date_report_spec and create_daily_year_to_date_report_spec both write and delete the same csv file, so when these tests are run in parallel they sometimes clash with each other. This issue changes the file that one of these writes to so there is no longer a clash

[2021-01-25 15:20] bosawt opened #5763 "Refactor User birth_date field to return a singular sensible field"
Currently, User birth_date field can be retrieved at least two ways (off of the UserIdentity object, and off of the MPI response), we should consolidate these and force callers on User to only be able to retrieve birth_date as a singular, formatted field. Probably should default to iso8601. If outside callers want it in another format, they should be the ones to change the presentation of the fiel

[2021-02-02 21:03] joeniquette opened #5832 "MPI User Model Requirement Request"
## MPI Identity Requirement Request

### Background
A dependent of a Veteran, who is authorized to receive VA benefits, expects to be able to download an electronic version of the dependent benefits letter as quickly as its requested. The dependent of a Veteran today does not have the ability to login to VA.gov and download their dependent benefits letters. The dependent expects that when they log

[2021-02-10 22:05] bosawt opened #5905 "Remove unnecessary icn delegate function in User.rb"
When I recently made the change to leverage icn off of UserIdentity, and then MPI, I forgot to remove the delegate function to MPI alone. The delegate line shouldn't be doing anything, but we should remove this anyway.

[2021-02-18 18:50] bosawt opened #5968 "Use Ruby Gem to parse MPI and SAML Response"
MPI uses the HL7 standard. We need to confirm that the version of HL7 they support matches whatever Gem we're using, but we could potentially use an existing gem to parse these fields a bit more easily than we do today: https://github.com/sufyanadam/simple_hl7_parser

[2021-02-22 21:55] bosawt opened #5987 "Set up branch with hard-coded MPI relationship response for User Roles development"
In order to test out some ideas for the User Roles work, we need a mechanism to get information about an associated user, that isn't the current user who is authenticating. Since we cannot leverage the actual MPI Service at this time, we can create a branch for development only that hacks the MPI response with relationship information. There is an example already in the MPI Service documentation t

[2021-02-23 02:20] bosawt commented on #5987
* Clone `vets-api-mockdata` repo, and check out branch: `5987_development_branch_mpi_relationship_mock`
* Make sure `settings.local.yml` has path to `vets-api-mockdata` defined:
[code]
* Authenticate with `vets.gov.user+dependent.1@gmail.com`
* The MPI response will now be defined, with a dependent user that doesn't have IDs, but with a user relationship that has many Veteran related ids

[2021-02-24 14:21] bosawt opened #6000 "Consolidate MPI::Service and MPI::AttrService"
It looks like we use both of these as ways to call MPI, but they are set up largely the same. Here's the prod settings: [Prod settings.yml](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/vets-api/prod-settings.local.yml.j2)
Inspect the `mvi` and `mvi_hca` sections.

The only difference I could find was the `service_name` is different for both of thes

[2021-03-02 19:09] bosawt opened #6054 "Remove PII from sentry log"
The sentry log with text `Account record does not match User`, in `app/models/account.rb`, displays a lot of PII. We should remove the ids in this log, as this is certainly not in compliance with our PII standards

[2021-03-04 02:58] bosawt opened #6067 "Refactor XML Parsing logic into its own consolidated library"
XML parsing logic in a few places, and we're using different tools when we parse. We could consolidate these instances and parse with a central library for ease of use and to make the system overall less confusing.

Places we parse XML that I could find with some initial sleuthing:
state_cemetery_reload_job.rb
emis/responses/response.rb
hca_enrollment_eligibility/service.rb
mpi/responses/add_parse

[2021-03-05 13:47] jimiray opened #6091 "Create New Identity Component / Module"
Create new identity module in order to begin isolating identity code from the main vets-api lib.

[2021-03-12 20:01] #6067 closed

[2021-03-12 21:36] bosawt opened #6165 "Reduce unnecessary queries for Flipper Controller route"
`GET FeatureToggles` is called often from the front-end, and when it's called, it makes a separate query for each Flipper entry. We should refactor this route so that we query a single time and then iterate over the resulting values. This happens here: `app/controllers/v0/feature_toggles_controller.rb`

[2021-03-17 16:22] #5268 closed

[2021-03-18 16:38] bosawt commented on #6165
Ah yeah, that makes sense, I added this cause I was watching the Rails query logs and was wondering why this single route was just going absolutely crazy, ha. But does seem like a pretty easy initial solve at least to just cache on the frontend, as you suggest.

[2021-03-19 13:14] #5746 closed

[2021-03-19 14:23] bosawt opened #6220 "FIx failing Jenkins step due to not running coverage report"
With the recent PR to introduce parallel specs, we disabled the SimpleCov coverage report, without running a followup step to determine the coverage. We should fix that.

[2021-03-24 02:00] #5905 closed

[2021-03-24 02:01] #5763 closed

[2021-03-26 18:31] bosawt opened #6303 "Fix failing Jenkins step"
The Jenkins step to run a `junit` test on an `xml` file has been failing lately, we can fix this by finding out what it does and whether we use it

[2021-03-30 02:46] bosawt commented on #6303
- We found out that this was due to an RSpec formatting issue. We need to format an XML for Jenkins to report the failing specs properly.
- Also, updated Jenkins parallel spec run so that modules directory is properly run

[2021-03-30 20:48] #6303 closed

[2021-03-30 20:48] #6220 closed

[2021-04-01 19:30] bosawt opened #6408 "Spike: Investigate backend SSOe integration with login.gov"
Spike on the changes necessary in the backend to integrate with login.gov. Also attempt to prototype an integration using the guide docs for SAML integration: https://developers.login.gov

[2021-04-01 22:45] bosawt opened #6412 "Refactor User model functions to prevent circular dependency from MPI call"
Many of the `User` model functions have a switch to check the `SAML` identity object for an attribute, and if it's not there, then check the field off the MPI Response, however it uses the `mhv_icn` as a conditional before checking this latter value. We can make this more simple, and just check for the identity object or MPI, if we can remove this `mhv_icn` conditional.

The problem, is in certain

[2021-04-06 17:33] bosawt opened #6460 "Fix CSP violation with inline scripts on backend erb pages"
It looks like there are some .erb pages on the backend that violate a CSP directive on local (and eventually will be rolled out to staging/prod). To fix this it looks like we can add a `nonce="**CSP_NONCE**"` to these scripts

[2021-04-07 01:47] bosawt opened #6479 "Consolidate functions that invalidate cached user, Identity, or MPI object, inside the User model"
There are a number of places (for example, `app/controllers/v0/profile/persons_controller.rb`), that recache, or destroy the MPI cache for a user, the Identity cache for a user, or the User itself. We should consolidate these within the User model, and this model should solely determine whether or not the related caches should be updated

[2021-04-13 23:41] bosawt opened #6577 "Always query MPI with possible relationship information"
Now that we can confirm we can call MPI with relationship information, we should convert all our MPI calls to this updated option.

Things to check are:
- Convert MVI.COMP2 to MVI.COMP1.RMS
- Change any mock data that was sending an MVI.COMP2 response and make sure it's sending an MVI.COMP1.RMS response
- Make sure there were no fields that we use form an MVI.COMP2 response that are not in an MVI.

[2021-04-16 22:27] bosawt opened #6600 "Add Account UUID to Sentry logs and Rails logs by default"
It would be nice to have an ID that matches up users between Rails logger and Sentry. While we can sorta use request id for this, it is still difficult to match up entire user 'journeys' through the site, and takes a multi-step process. Since we create these IDs for user, it shouldn't be a PII issue, and it should help us with our logging efforts

[2021-04-16 22:48] bosawt opened #6601 "Fix Favico.ico error"
We get this error constantly and the fix should be easy

[2021-04-19 17:42] jeff2d2 opened #6607 "Update Flipper docs"
We should update the Flipper docs for admining:
- Percentages
- Users
- Groups

### Resources and Context
- [Original Slack ask from Dror](https://dsva.slack.com/archives/G01M8VD9USC/p1618847572187900)
  - "I'm not seeing in the docs...where the actual percentage is specified."
  - "I'm also not seeing where/how vfs teams can specify individual users or a group"
  - "I'd like to update the documen

[2021-04-19 21:23] bosawt commented on #6601
I wasn't able to reproduce this locally or on PR instance. Also, the favicon.ico icon is in the `public` folder currently, which should resolve this. I think I've spent enough time on this for now, so I guess we'll just have to live with this routing error until we can look at it further

[2021-04-20 00:01] bosawt commented on #6408
This branch has an initial investigation with the login.gov integration:
`6408_investigating_integration_with_login_gov`.

- It shows that we can tentatively interact with login.gov simply from updating our redirect routes in the `sessions/new` route (with that branch, can be hit from `localhost:3000/v1/sessions/login/new`), updating the `X509 Certificate` to match the existing login.gov cert, and

[2021-04-26 19:38] bosawt commented on #6600
Needed to revert because this implementation was breaking deployment.

This won't work as expected here, we need to add account UUID to specific logs instead of having it added by default

[2021-04-26 19:38] #6600 closed

[2021-04-27 19:36] bosawt opened #6697 "Add Account UUID to relevant logs related to authentication"
I initially tried adding account UUID to the basic rails logger, but there were some fundamental issues with that approach. We still want account uuid on a number of logs, so we should identify these and add this UUID to them

[2021-04-28 19:06] bosawt opened #6711 "Investigate calling BGS/BIP for User relationship data"
Now that we have the relationship field on the User object, we can make this conditionally make a call to either MPI or BGS for relationship data. It looks like BGS has a `/view-change-dependents/view` call that we can either input Veteran and get their dependents, or a dependent and get their associated Veteran

[2021-05-07 17:19] bosawt opened #6809 "Enable multiple types of mocks for MPI service"
We recently added the functionality in Betamocks to enable different types of mocks for the same request ID. We should add this functionality to enable us to query MPI with either the MVI.COMP2 or MVI.COMP1.RMS types of request

[2021-05-07 17:55] #6408 closed

[2021-05-07 17:55] #6460 closed

[2021-05-10 14:04] voidspooks opened #6817 "Ensure Sidekiq enterprise check happens during Danger run"
Cameron Testerman May 6th at 9:16 AM
Danger PR has been merged! The old Danger step from the Jenkinsfile has been removed and is no longer required. The new Danger GHA results are a required status check before merge now.

Eric Boehs  4 days ago
It doesn't look like the sidekiq enterprise check is working in the new danger. (edited)

Eric Boehs  4 days ago
It fails during the ruby setup step.

Eri

[2021-05-10 19:04] #6817 closed, assigned to voidspooks

[2021-05-10 21:50] bosawt opened #6835 "Refactor external uses of User.mpi so that the function can be made private"
We now mostly have the ability to extract MPI fields from the User model by directly inspecting these fields, so we can probably remove external calls of `User.mpi` now. There are a couple places that we serialize `MPI profile` fields, but I think we can just find the fields that we need in these cases and create hashes of individual MPI fields.

[2021-05-12 22:38] bosawt opened #6865 "Test"
yeah it's a test

[2021-05-12 22:48] #6865 closed

[2021-05-13 19:43] bosawt opened #6884 "Create models for MPI attributes"
Create the models in the Gem to represent the classes of MPI attributes (address, ids, user profile information, etc)

[2021-05-13 19:46] bosawt opened #6885 "Set up connection and configuration from MPI service to Gem"
Right now the connection for the MPI service is set up using configuration keys, we should leverage this and set up the connection for the MPI Gem

One difference, we will be using Savon to set up the client object that makes the SOAP calls, so this might be a little bit of a different implementation than currently on vets-api

[2021-05-13 19:49] bosawt opened #6886 "Set up Betamocks for MPI Gem"
We need to make sure the MPI Gem can use the vets api mock data, and right now Betamocks is the way we probably have to do it. It's currently a middleware that we can inject with Faraday, so we either need to use a faraday wrapper, or find out how to integrate this with Savon

[2021-05-13 19:52] bosawt opened #6887 "Implement find_by_icn API call"
We need to be able to query MPI by ICN, so this should be the first feature we implement for the gem

[2021-05-13 19:53] bosawt opened #6888 "Implement find_by_attributes"
After find_by_icn, this should be simple

[2021-05-13 19:54] bosawt opened #6889 "Implement find_by_edipi"
After find_by_icn is implemented, this should be simple

[2021-05-13 19:55] bosawt opened #6890 "Implement get_historical_icns"
We'll have to enable this with the ability to either query by icn or query by attributes

[2021-05-13 19:56] bosawt opened #6891 "Add Validations to MPI Request fields"
We'll need to add validations to the Gem attribute models that both query MPI, and maybe even that are returned from MPI

[2021-05-13 19:57] bosawt opened #6892 "Implement Add_Person functionality to MPI Gem"

[2021-05-13 19:57] bosawt opened #6893 "Implement Update_Person functionality"

[2021-05-13 20:00] bosawt opened #6894 "Remove MPI Service from vets_api"
Once we have established all the functionality in the MPI Gem that currently exists in Vets-api, and integrated all the features, then we can remove all the existing code for the service from vets_api

[2021-05-13 20:00] bosawt opened #6895 "Integrate MPI Gem with TUD on staging stack"

[2021-05-13 20:01] bosawt opened #6896 "Integrate MPI gem with claims_api usage of MPI service on Production"
This should be our first Production integration with the MPI gem

[2021-05-13 20:02] bosawt opened #6897 "Fully integrate MPI Gem with vets-api"
All calls for the MPI service on vets-api should be using the Gem instead after the completion of this issue

[2021-05-13 21:43] bosawt opened #6901 "Create service object that takes a UserRelationship (or something like that) and returns an MPI query by attributes object"
Once we have a UserRelationship object from the BGS `Get Dependents` functionality, we should add the ability to then query MPI by attributes with that data to get back a full MPI object. This seems like it makes the most sense in a service object

[2021-05-14 17:48] bosawt commented on #6711
This is actually quite easy. I've added a couple stories to reflect what it'd take to actually integrate this. At it's core we just need to call the BGS service:

`  def dependent_service
    @dependent_service ||= BGS::DependentService.new(self)
  end
`

The rest of the work is just integration with our current component

[2021-05-14 20:12] bosawt commented on #6809
Seems like mocks are still working as expected, so I think this is good

[2021-05-14 20:12] bosawt commented on #6577
Haven't seen any evidence of MPI responses just getting destroyed, so this appears to be working

[2021-05-21 20:58] bosawt opened #6997 "Update `policies/mpi_policy.rb` so that `queryable?` reflects possibility of having an edipi to query with"
Right now we define `queryable?` for an MPI call to be if the user object has an icn, or the user object has first/last name, birth_date, ssn, and gender. There's another option when making an MPI call, that's when there is an EDIPI, so we should probably update `queryable?` to reflect this

[2021-05-21 21:14] bosawt opened #6998 "Improve success rate for MPI AddPerson call"
Stats are here: http://grafana.vfs.va.gov/d/000000062/mvi?viewPanel=16&orgId=1

We can probably do a better job at this success rate, we should figure out why it would fail and fix it

[2021-05-24 19:09] bosawt commented on #6885
We've identified the work for this and started implementing it. No blockers

[2021-05-24 19:15] #6711 closed

[2021-05-24 19:17] #6835 closed

[2021-05-24 19:21] #6091 closed

[2021-05-24 19:23] #6809 closed

[2021-05-24 19:24] #6577 closed

[2021-05-25 17:18] bosawt opened #7028 "Properly deal with MPI find_profile behavior when SSN or birth_date is missing"
Recently, a commit was merged that adds a `rescue ArgumentError` to an MPI `find_profile` call. We should probably refactor so that we can remove this, it's typically not good practice to rescue such wide-ranging error types.
The this error was added because of:

So we can properly deal with the case of a missing ssn or birthdate within the MPI response, and that should allow us to remove this res

[2021-05-26 22:42] bosawt opened #7047 "Fix sentry error around sessions callback issue"
http://sentry.vfs.va.gov/organizations/vsp/issues/38594/?project=3&query=is%3Aunresolved+JSON&statsPeriod=14d Takes down dev environment, if this somewhere propagates to other environments it could take down sign-in for those as well

[2021-05-27 16:24] lihanli commented on #6886
@bosawt @bramleyjl @jimiray i think we should leave all faraday middlewares out of the mpi gem and instead allow vets-api to add middlewares to the faraday connection through a configuration block. thoughts on that?

[2021-05-27 16:47] bosawt commented on #6886
Yeah, I was looking at the connection interfaces for the services (all the client/common SOAP stuff in vets-api), and there's a lot of stuff that we leverage that seemed like it didn't make sense to copy over. So I def am inclined to agree that we should leave the middleware in vets-api, in fact, I'm even wondering if we should rethink our boundaries in general when it comes to the connection

[2021-05-28 22:42] bosawt opened #7075 "Fix MPI AddPerson errors"
A recent PR of ours appears to have broken all of our AddPerson calls to MPI. This was around a search token that appeared to be timing out. This commit should fix that regression

[2021-06-01 16:57] jperk51 opened #7085 ""higherlevelreview" display title for appeals"
Text should have spaces between each word

[2021-06-01 18:45] bosawt opened #7090 "Fix SOAP response failure from Faraday upgrade change"
It looks like the recent Faraday upgrade changed how our SOAP Parsing library works, the body of the request is no longer called `body`, but `request_body`.

[2021-06-01 20:07] bosawt commented on #7090
The PR that caused this was reverted, and when the new PR that includes the Faraday changes comes out it will include this, amongst other changes

[2021-06-07 16:38] bosawt opened #7165 "Add exception to ignore invalid_message_timestamp error from Sentry"
'invalid_message_timestamp' is a SAML error that results from expected behavior, specifically when a user starts the login process, then waits too long to continue. We get a ton of emails from Sentry about this error, and it generally muddies up our monitoring

[2021-06-07 19:21] #7090 closed

[2021-06-07 19:23] #7047 closed

[2021-06-07 19:33] bosawt commented on #7075
Looks like the error related to this has no longer been occurring after this change was deployed: http://sentry.vfs.va.gov/organizations/vsp/issues/38634/?project=4&project=3&query=is%3Aunresolved+attentionline&statsPeriod=14d

[2021-06-07 19:35] bosawt commented on #6412
I think the issues from this has settled down now

[2021-06-07 19:37] bosawt commented on #7028
I'm able to see this happening from time to time on Sentry now: http://sentry.vfs.va.gov/organizations/vsp/issues/39877/?project=4&project=3&query=is%3Aunresolved+Request+Error&statsPeriod=14d

[2021-06-08 13:53] #7075 closed

[2021-06-08 13:54] #7028 closed

[2021-06-08 14:17] #6901 closed

[2021-06-12 01:28] #6884 closed

[2021-06-12 01:28] #6886 closed

[2021-06-14 17:11] bosawt commented on #7165
Just looked at this, haven't seen this issue in Sentry since the PR, so we can probably close this ticket

[2021-06-21 19:07] bosawt commented on #6885
Should be accomplished with this work: https://app.zenhub.com/workspaces/vsp-identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/vets-api/6887

[2021-06-28 23:08] bosawt opened #7311 "Fix N+1 query for feature toggles controller"

[2021-06-29 14:32] #6697 closed

[2021-07-06 11:58] #6885 closed

[2021-07-06 11:59] #7311 closed

[2021-07-07 00:02] bosawt commented on #6165
Timing result of existing feature_toggle performance:
![Screen Shot 2021-07-06 at 4.51.50 PM.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/ee223274-78d6-437f-9492-0083bdc6e2d0)
Timing result of feature_toggle performance when only querying a single feature
![Screen Shot 2021-07-06 at 4.53.21 PM.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/f026786d-e15a-48

[2021-07-07 00:02] bosawt commented on #6165
So given that, I think really there isn't much reason to do the work of splitting these out into separate feature calls. I think instead, we should just make it so the frontend calls it less. So basically I think the solution has to be to use localStorage. I'll try that now and see how it performs

[2021-07-08 20:43] bosawt commented on #6165
This is the timing for a fully mocked backend (no queries just returning a mocked features array: ![Screen Shot 2021-07-08 at 1.41.57 PM.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/0d572aee-7000-4c9e-97bc-6077a7c83920)

[2021-07-09 21:18] #6888 closed

[2021-07-09 22:12] bosawt opened #7397 "Investigate removing need to loa3 uplevel in certain cases"
If we have a user who has previously logged in as loa3 successfully, and has an entry on the Accounts table, it's possible they technically don't even need to uplevel to loa3. We can at least use the Accounts table to make a call to MPI to get the relevant user information.

There are some things we'll need to consider though:
- Our assumption is that ID.me will always authenticate an LOA1 request

[2021-07-12 15:35] cbtkc opened #7405 "Cutover from statsd_exporter/prometheus to datadog"
StatsD messages will need to be cutover to use the new datadog agent that is installed on the machines, as prometheus and statsd_exporter are going to be deprecated.

AC:
- [ ] `STATSD_HOST`, `STATSD_PORT`, & `STATSD_ADDRESS` will need to be pointed at datadog-agent

[2021-07-12 20:22] annaswims commented on #7397
Another way of asking the question is "should we return PII in associated systems to non-verified people". To me, that's a quick "no".

There are many places [like this one](https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/policies/evss_policy.rb#L6) where we're checking that the veteran has all the correct id's. We're not explicitly checking that the user is LOA3, but it

[2021-07-12 20:27] annaswims commented on #6997
seems reasonable.  MHV is only giving us ICN so that's why we have `user.icn.present?`.  DS Logon and Id.me often/aways (not sure which) give us the other attributes which should be enough. BUT there could easily be times when one of those attributes is nil and we have an EDIPI.

[2021-07-12 23:08] bosawt commented on #7397
This isn't about returning additional PII for non-verified people, rather it's about the possibility of leveraging information we have on users who have previously authenticated with LOA3, and who are using systems that provide the same authentication for further LOA1 authentications. For example, Login.gov actually recommends logging in with LOA1 on subsequent authentications after an LOA3 auth,

[2021-07-13 22:59] bosawt commented on #7397
One consideration is that I'm not sure there's a way to perform SSO without running through the `loa3` auth loop. Eauth won't have enough information to properly save the user session if we only authenticate at `loa1`, even if we do leverage information in the `Accounts` table.

It is possible that we'd have to have to interact with EAuth in a new way, or to stop providing SSO, if we were to skip

[2021-07-14 18:05] bosawt commented on #7397
I have a simple branch here that plays with this idea: `7397_investigate_removing_loa3_uplevel_in_some_cases`, there doesn't seem to be much of an issue on the backend to do this. However, I think the SSO issue is enough to table this for now.

[2021-07-14 18:37] #7405 closed

[2021-07-14 18:37] cbtkc commented on #7405
redundant issue

[2021-07-14 20:13] annaswims commented on #7397
I see what you're saying, but I think that the aim (that sometimes works) is that there is one row in the `Account` table per person. Someone can have an identity-verified MHV account and a non-identity verified id.me account.  I think it may be possible that those may both be correlated with the same Account. Also, I think that multifactor authentication happens only for LOA3 logins

[2021-07-14 20:13] annaswims commented on #7397
sorry, clicked the wrong button. didn't mean to close.

[2021-07-15 19:46] bosawt opened #7448 "Create optional ability for localhost to mock authentication"
Now that we've transitioned to 100% SSO, we probably need to offer another option for developers when SSO is down (which still seems to happen on localhost fairly often). We should investigate a way to mock authentication on localhost only, which would return a default user, or give some mechanism to return some arbitrary mocked user

[2021-07-19 19:16] #7397 closed

[2021-07-19 19:16] #6165 closed

[2021-07-23 22:34] bosawt opened #7514 "Create backend ability to download a dependent benefit letter"
We have all the systems set up that we need to download a dependent benefit letter, and with the following curl we can integrate with the existing letter downloading capability to enable functionality to download a dependent benefits letter:

`curl --insecure -X POST \
-H 'va_eauth_csid: DSLogon' \
-H 'va_eauth_authenticationmethod: DSLogon' \
-H 'va_eauth_assurancelevel: 3' \
-H 'va_eauth_issuein

[2021-07-26 17:21] bosawt opened #7518 "Add proper person_types attribute to User model"
We technically have the person_types attribute defined in the User model, but it doesn't seem to be wired properly, and we don't have the appropriate fallback to MPI, so we need to update this to be able to utilize the person_types function

[2021-07-28 16:08] #6890 closed

[2021-08-02 19:15] #7518 closed

[2021-08-02 21:13] jperk51 commented on #7085
This was fixed elsewhere.

[2021-08-02 21:13] #7085 closed

[2021-08-04 15:45] #6889 closed

[2021-08-11 18:09] #6887 closed

[2021-08-23 16:30] bosawt opened #7713 "Add dependent query param for letters routes to allow a dependent user to interact with the service"

[2021-08-23 19:24] bosawt opened #7715 "Investigate Cognito javascript interface"
https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js/src

[2021-08-30 18:29] bosawt opened #7782 "Add authncontext to SAML requests"
When login.gov option was added to the lower environments as an option for an SSOe login, we apparently lost the ability to automatically redirect to ID.me. We should explicitly add the id.me authncontext for now to do an automatic redirect and preserve this functionality

[2021-08-31 17:40] #7165 closed

[2021-08-31 17:43] #6412 closed

[2021-09-03 17:51] bosawt opened #7834 "Fix bug in Accounts table that prevented us from having entries with nil idme_uuid records"
The Accounts table is currently set up to allow for either idme_uuid or sec_id to be defined, if idme_uuid is defined, sec_id does not need to be defined, and vice versa. However, we had a bug where the uniqueness constraint on idme_uuid extended to a nil definition, meaning we effectively couldn't create Account records with nil idme_uuid.

[2021-09-09 23:53] bosawt opened #7872 "Add SAML UserAttributeError if user has multiple sec_id values"
A user shouldn't have more than one sec_id, but there's at least one test user (vets.gov.user+228@gmail.com) that appears to have multiple. This shouldn't be able to happen, so we should probably add a SAML error in our validation during signup

[2021-09-10 21:04] bosawt opened #7879 "Add log for the case when an inbound user authenticates without an ID.me uuid"
It looks like, in the case of an inbound user, that they may be able to authenticate without an ID.me uuid. I want to see how often this is happening, so this creates a log that fires whenever an inbound user does not have an idme_uuid, but we have decided that they should not receive an error, and that we will let them fully log in

[2021-09-13 20:11] nsoutouras commented on #7834
Waiting to see how often users without an IDME UUID can log in.  May need to do further data cleanup.

[2021-09-13 20:19] nsoutouras commented on #7713
Need requirements from Cory.  Carries over to 61.

[2021-09-13 20:25] nsoutouras commented on #7879
Need to do more logging.  Carries to 61.

[2021-09-14 12:18] #7782 closed

[2021-09-20 17:07] bosawt commented on #7879
Still haven't seen any evidence that this log is getting hit. I think we can say with fair confidence that there are no users logging on va.gov today without an ID.me UUID. Inbound users appear to fail on the first time, then have to sign in on va.gov directly, then they are given an ID.me UUID that we are able to reference for future inbound login attempts

[2021-09-20 21:16] nsoutouras commented on #7713
Blocked, waiting for requirements (mid-61)

[2021-09-22 00:09] bosawt opened #7961 "Create proposal for Accounts schema for login.gov as additional identity provider"

[2021-09-23 17:55] bosawt opened #7972 "Add log when multiple sec_ids are detected with a user's information from a SAML Response"
Found at least one user on prod with a saved Accounts record with `sec_id='<sec_id1>,<sec_id2>'`, this has the potential to create problems on the backend, so we should at least log to see how often this happens, and potentially consider denying login when this happens

[2021-09-23 21:34] bosawt commented on #7834
Am now seeing entries in the Accounts table with `idme_uuid: nil`. It looks like this can happen with mobile auth

[2021-09-24 19:26] jscanish commented on #7972
https://github.com/department-of-veterans-affairs/vets-api/pull/7987

[2021-09-24 23:16] bosawt commented on #7961
### Proposal

* Every time a user logs in, they are correlated with a single `user_verifications` record. This record represents the ::credential_user::, meaning this information is useful for determining the state and details of the credential itself, not necessarily the actual user
![Screen Shot 2021-09-24 at 3.54.29 PM.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/8160a739-

[2021-09-24 23:17] bosawt commented on #7961
This requires a transition strategy, here is what I propose:
#### How to convert to a new system?
* Step 1:
	* Add new tables
		* `user_verifications`
			* The role of this table is to keep track of individual identifiers from each credential, and whether or not they are verified
			* A non-verified identifier in this table will still have a `user_account_uuid` definition, but it will not be attac

[2021-09-27 13:59] #7834 closed

[2021-09-27 18:01] #7879 closed

[2021-09-27 20:12] nsoutouras commented on #7972
Should close tomorrow when Josh returns

[2021-09-27 20:39] nsoutouras commented on #7961
**Carries to 62 for discussion**

[2021-09-28 20:27] cbtkc opened #8012 "Create Github Action to Build & Push vets-api image to ECR"
AC:

- [x] Image is built and pushed to ECR repo upon merge to master.

[2021-09-28 20:29] #8012 closed

[2021-09-28 22:10] bosawt opened #8015 "Make Account table creation synchronous"
We currently create an Account table entry as part of a sidekiq job that kicks off after a user logs in, but there really isn't a reason for this. We should make it a synchronous action and keep it part of the main flow

[2021-09-28 22:13] bosawt opened #8016 "Refactor Account creation and querying to take into account precedence with either idme_uuid or logingov_uuid"
### **Description**
Right now, an idme_uuid match will take initial precedence over the retrieval of an Account table entry for a user, and the set of sec_id/logingov_uuid matches will return an undefined precedence over which Account table entry to retrieve. We should come up with a more sensible order of operations here and refactor these interactions in the process

### **User Story**
**As a**

[2021-09-29 12:12] #7972 closed

[2021-09-29 17:49] bosawt opened #8026 "Remove ID.me saml in settings"

[2021-09-30 20:54] bosawt opened #8039 "Fix staging login issue with TUD user update"
Making the After Login Job synchronous made it so any errors that happen during these actions now make auth fail. We catch most errors that are thrown, but it looks like the TUD user update had a validation failure. This change makes it so that this will no longer throw errors, but instead make a log to staging if there are further validation errors

[2021-10-04 17:38] nsoutouras commented on #8026
Adding Cody to this as it covers the work referenced in #30848.  Going to close that ticket as a duplicate

[2021-10-07 21:41] bosawt opened #8129 "Find and resolve potential Accounts table N+1 issue"
Removing the Accounts table cache, it is clear that we are querying the table too often. It is likely we have an N+1 query here, so we should find this and resolve it

[2021-10-11 20:20] nsoutouras commented on #8129
Carries forward - PR next sprint

[2021-10-25 21:49] bosawt opened #8269 "Merge IAMUser and User models"
We should merge the IAM user and User models, since they perform relatively the same functionality. IAM User is specifically for mobile, but most of the functions it uses are from the base User model

[2021-10-25 21:50] bosawt opened #8270 "Merge IAM User Identity and User Identity"
IAM User Identity is used for mobile users, User Identity for standard login method. IAM User Identity mostly leverages User Identity, so we should merge these models

[2021-10-25 21:58] bosawt opened #8272 "Use SSOe:SessionManager for mobile sessions"
Mobile currently uses `IAMSSOeOAuth::SessionManager` for their sessions, we should look into whether we can completely forgo these sessions for our `SSoe::SessionManager`, or if we can scale back the functionality here in favor of the `SSOe` session manager used for the normal web flow

[2021-10-25 22:05] bosawt opened #8273 "Find out how to test mobile on localhost and staging"
The ability to test on localhost and staging for mobile surely already exists, but we need to figure out how to do this ourselves